@media (max-width: 1200px) {
	.product-card {
		&__imagelink {
			&--livedemo {
				right: 22%;
			}

			&--moreinfo {
				left: unset;
				right: 52%;
			}
		}
	}

	.dropmenu--pages {
		right: unset;
	}

	.marketplace {
		&__search {
			width: calc(100vw - 30px);


			&::after {
				width: calc(100% - 30px);
			}

			&::before {
				width: calc(100% - 60px);
			}
		}
	}

	.assignment {
		&__item {
			padding: 10px;
		}

		&__text {
			padding-bottom: 23px;
		}
	}

	.followers-feed {
		.product-card {
			&--small {
				max-width: unset;
			}
		}

		.slick-slide {
			margin-left: 30px;
		}

		.slick-list {
			margin-left: -30px;
		}
	}

	.products-release {
		.product-card {
			width: calc(100% / 2 - 10px);
			max-width: unset;

			&__user-info {
				padding: 0;
			}

			&__specs {
				padding-left: 5px;
				padding-right: 5px;
			}

			&__image {
				max-width: unset;
			}

			&__user-info {
				max-width: unset;
			}
		}
	}

	.profit {
		&__payment {
			width: calc(100% / 3 - 10px);
		}
	}

	.feedback {
		padding-top: 60px;
		padding-bottom: 60px;

		&__items {
			text-align: center;
			margin-bottom: 20px;
		}

		&__item {
			display: block;
			max-width: unset;
			height: auto;
			margin-bottom: 10px;
			border: 2px solid $blue;

		}

		&__link-wrapper {
			justify-content: center;
		}

		&__user-name {
			position: relative;

			&::before {
				right: -89px;
			}
		}

		&__text {
			margin-bottom: 20px;
		}

		&__description {
			height: unset;
		}
	}

	.news {
		&__inner {
			padding-top: 30px;
			padding-bottom: 0;
		}

		&__item {
			max-width: unset;
			width: unset;
			height: unset;
			text-align: center;
			justify-content: start;
		}

		.product-card__user-info {
			padding: 0;
		}

		.product-card--news {
			min-height: unset;
		}

		.product-card__title-link--news {
			padding: 10px;
			margin-bottom: 5px;
		}

		.product-card__descr--news {
			padding: 0 10px;
			margin-bottom: 10px;
		}

		&__user-info {
			padding: 10px;
		}

		&__descr {
			height: unset;
		}

		&__template-img {
			min-height: 180px;
		}

		.product-card--news {
			width: calc(100% / 3 - 10px);
		}

		.title-double__text--news {
			margin-bottom: 20px;
		}
	}

	.footer {
		&__content {
			text-align: center;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__col {
			&--newsletter {
				min-width: 100%;
				text-align: center;
			}

			&--list-support {
				margin-right: auto;
			}

			&--info {
				min-width: 100%;
				margin: 0 auto;
				margin-bottom: 10px;
				text-align: center;
			}
		}

		&__form {
			max-width: 360px;
			margin: 0 auto;
		}

		&__social {
			margin: 0 auto;
		}

		&__contact-box {
			display: inline-block;
		}

		&__contact {
			display: block;
			margin: 0;

			&--phone,
			&--email {
				max-width: 250px;
				margin: 0 auto;

				&::before {
					left: 25px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.dropmenu {
		text-align: center;
		background-color: #eff1f5;
		right: 100%;
		top: 0;
		opacity: 1;
		visibility: hidden;
		z-index: -1;
		overflow: hidden;
		transform: translateX(-400%);
		transition: all .3s;

		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
		border-bottom-right-radius: 30px;

		&.is-open {
			visibility: visible;
			z-index: 10;
			overflow: visible;
			transform: translate(0);
		}

		&--pages {
			left: unset;
			right: 0;
			top: 81px;
			z-index: 1;
			width: 150%;
			border: 1px solid #0674ec;
			border-top: none;
		}

		&__inner {
			display: none;
		}

		&__title--pages {
			position: relative;
			margin: 0;
		}

		&__list {
			padding: 0;
			display: inline-block;
			vertical-align: top;
		}

		&__item {
			padding: 0;
		}

		&__link {
			margin: 0;
		}

		&__title-arrow {
			position: absolute;
			right: 0;
			top: 0;
			width: 44px;
			height: 44px;
			background-color: transparent;
			border: none;
		}

		&__arrow-text {
			font-size: 0;
			line-height: 0;

			&::before {
				content: '';
				width: 2px;
				height: 22px;
			}

			&::after {
				content: '';
				width: 2px;
				height: 22px;
			}
		}
	}

	.dropmenu--pages {
		.dropmenu__col {
			display: block;
		}
	}

	.header {
		.links {
			position: absolute;
			top: 53px;
			left: -15px;
			padding: 10px 5px;
			transform: translateX(-100%);
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease;
			background-color: #eef1f3;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			border: 1px solid $blue;

			&.active {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				transform: translate(0);
				opacity: 1;
				visibility: visible;
				z-index: 3;
			}

			&__box {
				display: block;
			}
		}

		.link-item {
			height: unset;
			margin-right: unset;

			&__user {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 5px;

				&--icon {
					margin: 0;
				}
			}

			&::before {
				font-size: 44px;
			}

			&__amount {
				right: unset;
				top: -3px;
				left: -13px;
			}
		}

		.user-btn {
			display: block;
		}

		.menu-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			display: block;
			z-index: 2;

			&__inner {
				position: relative;
			}

			&.cross {

				.menu-btn__inner {
					position: relative;
				}

				.menu-btn__line--top {
					position: absolute;
					top: 17px;
					left: 0px;
					transform: rotate(405deg);
					border-color: #9c0c1c;
					background-color: #9c0c1c;
					opacity: .3;
				}

				.menu-btn__line--middle {
					transform: rotate(720deg);
					opacity: 0;
					background-color: transparent;
				}

				.menu-btn__line--bottom {
					position: absolute;
					top: 17px;
					left: 0px;
					transform: rotate(-405deg);
					border-color: #9c0c1c;
					background-color: #9c0c1c;
					opacity: .3;
				}
			}
		}

		.main-menu {
			width: 100vw;
			max-width: 50%;
			position: absolute;
			z-index: 10;
			top: 0;
			right: -15px;
			display: none;
			margin: 0;

			&__list {
				width: 100%;
			}

			&__item {
				position: relative;
				width: 100%;
				display: block;
				height: unset;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid $blue;
				text-align: center;
				border-left: 1px solid #0674ec;
				border-right: 1px solid #0674ec;

				&:last-child {
					border-bottom-left-radius: 30px;
				}
			}

			&__link {
				display: inline;
				margin: 0;
				font-size: 20px;

			}
		}

		.join-link {
			margin-left: unset;
			margin-right: 60px;
		}
	}

	.main-menu__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5%;
		font-size: 44px;
		background-color: transparent;
		transition: all .5s;

		&.sub-open {
			right: 80%;

			&::before,
			&::after {
				background-color: red;
				opacity: .2;
			}

			&::after {
				left: 21px;
				top: 1px;
				height: 40px;
			}

			&::before {
				left: 21px;
				top: 2px;
				height: 40px;
			}
		}
	}

	.search-form {
		max-width: 208px;
		display: none;

		&--hidden-media {
			display: block;

			.search-form__input {
				height: 100%;
				width: 100%;
				padding-right: 35px;

				&::placeholder {
					font-size: 13px;
				}
			}

			.search-form__btn {
				max-width: 35px;
				height: 100%;
			}
		}
	}

	.marketplace {
		margin-bottom: 110px;

		&__label-select {
			margin: 0 auto;
			min-height: 40px;
		}

		&__label-input {
			margin: 0 auto;
		}

		&__select {
			min-height: 40px;
		}

		&__input {
			width: 100%;
			min-height: 40px;
		}

		&__btn {
			height: 40px;
			margin: 0 auto;
		}
	}

	.info {
		&__inner {
			flex-direction: column;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&__item {
			display: block;
			max-width: 100%;
			min-height: unset;
			padding: 0;
			padding-bottom: 5px;
			padding-top: 70px;
			margin-bottom: 15px;
			border: 1px solid #dcdcdc;
			border-top: none;
			border-radius: 0px;

			&::after {
				width: 60px;
				height: 60px;
				top: 5px;
			}
		}

		&__item-title {
			font-size: 20px;
			margin-bottom: 10px;
			margin-top: unset;
		}
	}

	.btn {
		min-width: unset;
		height: unset;
		padding: 14px 20px;
	}

	.products-weekly {
		padding-top: 60px;

		.product-card {
			&__inner {
				min-height: unset;
				margin-bottom: 20px;
			}

			&__data {
				flex-wrap: wrap;
			}

			&__specs {
				padding-right: 5px;
				padding-bottom: 5px;
			}

			&__user-info {
				padding-left: 10px;
				padding-top: 20px;
			}

			&__category {
				margin-bottom: 5px;
			}
		}

		.products-title {
			margin-bottom: 40px;
		}

		.arrow {
			top: -116px;
		}
	}

	.products-release {
		padding-top: 60px;
		padding-bottom: 20px;
	}

	.followers-feed {
		padding: 20px 0;
		padding-top: 60px;
	}

	.profit {
		&__wrapper {
			margin-bottom: 20px;
		}

		&__text {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.assignment {
		&__inner {
			min-height: unset;
		}

		&__item {
			padding: 10px;
			min-height: unset;
		}

		&__icon {
			padding-top: 20px;
			margin-bottom: 10px;
		}

		&__title {
			font-size: 30px;
			margin-bottom: 10px;
			margin-top: 20px;
		}

		&__text {
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}

	.feedback {
		padding-top: 60px;
		padding-bottom: 30px;

		&__title {
			margin-bottom: 10px;
		}

		&__item {
			padding: 15px 20px;
		}
	}

	.news {
		padding-top: 60px;
		padding-bottom: 20px;

		.product-card {
			&--small {
				max-width: unset;
				width: 100%;
			}

			&__image {
				max-width: unset;
			}

			&__user-info {
				max-width: unset;
			}

			&__title-link--news {
				height: unset;
				text-align: center;
			}

			&__descr {
				max-width: unset;
			}
		}

		&__items {
			display: block;
		}

		&__inner {
			padding-top: 10px;
		}

		&__title {
			margin-bottom: 10px;
		}
	}

	.warranty {
		&::after {
			display: none;
		}

		&__item {
			position: static;
			padding: 10px;
			margin-bottom: 10px;
			border: 2px solid $blue;
		}

		&__icon,
		&__text {
			&--guarantee {
				padding: 0;
			}

			&--support {
				padding: 0;
			}
		}
	}

	.join {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (max-width: 799px) {

	.header {
		&__top-inner {
			flex-direction: column;

		}

		.main-menu {
			max-width: 100%;
		}

		.logo-link {
			margin: 0;
			margin: 5px;
		}

		.search-form {
			margin-bottom: 5px;
		}

		.join-link {
			height: 30px;
			font-size: 12px;
			max-width: 130px;
			margin: 0;
			margin-bottom: 5px;
		}

		.menu-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			&__inner {
				width: 80px;
				height: 35px;
			}
		}

		.user-btn {
			width: 80px;
			height: 80px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				font-size: 50px;
			}
		}

		.links {
			top: 100%;
		}
	}

	.main-menu__arrow {
		&.sub-open {
			right: 5%;
		}
	}

	.dropmenu {
		border: 1px solid #0674ec;
		top: 100%;

		&--pages {
			width: 100vw;
			right: -15px;
			left: 0;
		}

		&--home,
		&--allproducts,
		&--wordpress {
			left: 50%;
			right: unset;
			width: 100%;
			text-align: center;
			border: 1px solid $blue;

			&.is-open {
				transform: translateX(-50%);
			}
		}

		&__item {
			padding-left: 0;
		}

		&--user {
			padding-left: 44px !important;
			width: 100%;
			margin-right: auto;

			&::after {
				display: none;
			}
		}
	}

	.marketplace {
		&__bg {
			height: auto;
		}

		&__inner {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&__title {
			margin-bottom: 35px;
		}

		&__phrase {
			font-size: 40px;
			line-height: 40px;
		}

		&__text {
			font-size: 20px;
    line-height: 24px;
		}

		&__main-link {
			height: unset;
			display: block;
			padding: 14px 10px;
			font-size: 15px;
			line-height: 18px;
			margin: 0;
		}

		&__main-links {
			margin-bottom: 80px;
		}

		&__search {
			min-height: unset;
			padding: 10px;
			bottom: -50px;
		}

		&__form {
			text-align: left;
		}

		&__select {
			margin-right: 5px;
		}
	}

	.btn {
		min-width: unset;
		height: unset;
	}

	.products-weekly {

		.product-card {
			height: 268px;

			&__user {
				margin-bottom: 10px;
			}

			&__arrow {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&__arrow-left {
				right: 60px;
			}

			&__title-link {
				font-size: 20px;
				margin-bottom: 3px;
			}

			&__descr {
				font-size: 14px;
				margin-bottom: 3px;
				line-height: 20px;
				padding-right: 10px;
			}

			&__category {
				margin-bottom: 5px;
			}

			&__price {
				margin-right: auto;
				padding-left: 12px;
				padding-right: 12px;
				font-size: 13px;
			}

			&__likes {
				font-size: 14px;
			}

			&__purchases {
				font-size: 14px;
			}

			&__imagelink {
				&--livedemo {
					right: 15%;
				}

				&--moreinfo {
					left: unset;
					right: 55%;
				}
			}
		}

		&__title {
			position: relative;
			padding: 20px 143px 20px 29px;
		}

		.product-card__arrow-left {
			right: 85px;
		}

		.arrow {
			top: -98px;
		}
	}

	.products-release {

		padding-bottom: 10px;

		&__inner {
			margin-bottom: 10px;
		}

		.product-card {
			width: calc(100% / 2 - 10px);
		}

		&__category {
			height: 40px;
		}

		&__filter {
			min-height: 68px;
		}
	}

	.followers-feed {
		padding-bottom: 10px;

		&__title {
			margin-bottom: 10px;
			font-size: 30px;
		}

		&__arrow-left,
		&__arrow-right {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			top: -60px;
		}

		&__arrow-left {
			right: 100px;
		}

		&__item {
			max-width: calc(100vw - 30px);
			min-height: unset;
			margin-right: 10px;
			margin-left: unset;
			text-align: center;
		}

		&__user-name {
			margin-bottom: 10px;
			justify-content: center;
		}

		&__user-info {
			padding: 10px;
		}

		&__title-link {
			font-size: 18px;
			line-height: 20px;
		}

		&__descr {
			font-size: 14px;
			line-height: 20px;
		}

		&__specs {
			height: unset;
			padding: 5px;
		}

		&__platform {
			margin-right: unset;
		}

		&__button {
			&--cart {
				margin-left: unset;
			}
		}

		&__star-rate {
			margin-right: 10px;
		}

		&__info {
			justify-content: space-around;
		}

		.arrow {
			top: -67px;
		}

		.products-title {
			padding: 20px 143px 20px 10px;
		}
	}

	.product-card--small {
		.product-card__title-link {
			margin-bottom: 10px;
			padding: 10px;
			padding-bottom: 0;
			font-size: 20px;
			color: #000;
			font-weight: 400;
			text-align: center;
		}

		.product-card__user-name {
			margin-bottom: 10px;
		}

		.product-card__user-name {
			display: block;
			padding: 0;
			margin: 0;
			margin-bottom: 10px;
			text-align: center;
		}

		.product-card__descr {
			height: 92px;
			max-width: unset;
			margin: 0;
			padding-left: 20px;
			padding-right: 15px;
			line-height: 24px;
		}

		.product-card__user-info {
			padding: 0;
			padding-bottom: 0;
		}

		.product-card__specs {
			padding: 10px;
			justify-content: space-around;
		}

		.product-card__purchases {
			margin-left: unset;
		}
	}

	.stats {
		&__items {
			padding-top: 100px;
			padding-bottom: 50px;
		}

		&__amount {
			font-size: 27px;
			line-height: 27px;
		}

		&__img {
			&::before {
				top: -63px;
				font-size: 38px;
			}
		}

		&__text {
			font-size: 15px;
			line-height: 20px;
		}
	}

	.profit {
		padding-top: 40px;
		&__inner {
			padding-top: 20px;
			padding-bottom: 15px;
		}

		&__title,
		&__martplace-link {
			margin-bottom: 5px;
			font-size: 31px;
			line-height: unset;
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
		}

		&__payment {
			min-height: unset;
			max-width: 245px;
			margin-bottom: 15px;
			padding: 60px 5px 10px;
		}

		&__number {
			font-size: 30px;
		}

		&__item-title {
			font-size: 17px;
			margin-bottom: 10px;
			margin-top: 45px;
		}

		&__icon {
			&::before {
				top: 24px;
			}
		}
	}

	.assignment {
		&__inner {
			display: block;
		}

		&__item {
			width: 100%;
		}

		&__icon {
			margin-bottom: 10px;
		}

		&__title {
			font-size: 24px;
			margin-bottom: 10px;
		}

		&__text {
			line-height: 18px;
			margin-bottom: 10px;
		}
	}

	.feedback {
		&__title {
			font-size: 31px;
		}

		&__img {
			width: 60px;
			height: 60px;
		}

		&__user-name {
			font-size: 18px;

			&::before {
				font-size: 50px;
			}
		}

		&__user-occupation {
			font-size: 14px;
			line-height: 14px;
		}

		&__text,
		&__description {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.news {
		padding-bottom: 10px;

		&__title {
			font-size: 31px;
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
		}

		&__title-link {
			font-size: 18px;
		}

		&__descr {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.warranty {
		&__text {
			font-size: 21px;
		}

		&__icon {
			max-height: 89px;
		}

		&__inner {
			min-height: unset;
		}
	}

	.join {
		&__title {
			font-size: 31px;
			margin-bottom: 10px;
		}

		&__text {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 699px) {
	.marketplace {
		&__inner {
			padding-bottom: 45px;
		}

		&__form {
			display: block;
			text-align: center;
			padding: 0 10px;
		}

		&__select {
			max-width: 223px;
			width: 100%;
		}

		&__btn {
			margin: 0;
		}

		&__input {
			margin-bottom: 5px;
			border: 1px solid #dcdcdc;
		}
	}

	.products-release {
		.product-card {
			width: calc(100vw - 10px);
			max-width: unset;

			&__image {
				max-width: unset;
			}

			&__user-info {
				max-width: unset;
			}
		}

		&__title {
			font-size: 24px;
		}

		&__filter {
			display: flex;
			align-items: center;
		}
	}

	.products-weekly {
		.product-card {
			height: unset;

			&__inner {
				display: block;
				margin: 0;
			}

			&__image {
				min-height: 200px;
				max-width: unset;
			}

			&__user-info {
				max-width: unset;
				padding-top: 10px;
			}

			&__descr {
				margin-right: 10px;
				max-width: unset;
			}

			&__title-link {
				text-align: center;
				margin-bottom: 5px;
			}

			&__user {
				text-align: center;
				margin-bottom: 5px;
			}
		}

		.products-title {
			font-size: 24px;
		}

		.arrow {
			top: -95px;
		}
	}
}

@media (max-width: 570px) {
	.header {
		.search-form {
			&__input {
				&::placeholder {
					font-size: 12px;
				}
			}
		}
	}

	.marketplace {
		&__main-links {
			display: flex;
			flex-wrap: wrap;
		}

		&__main-link {
			margin: 0;
		}

		&__all-link {
			margin: 0;
		}

		&__inner {
			padding-top: 10px;
			padding-bottom: 90px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__select {
			margin-right: auto;
			margin-bottom: 5px;
		}
	}

	.info {
		&__inner {
			flex-direction: column;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		&__item {
			display: block;
			max-width: 100%;
			min-height: unset;
			padding: 0;
			padding-bottom: 5px;
			padding-top: 70px;
			margin-bottom: 5px;
			border-bottom: 1px solid #dcdcdc;
			border-radius: 0px;

			&::after {
				width: 60px;
				height: 60px;
				top: 0;
			}
		}

		&__item-title {
			font-size: 20px;
			margin-bottom: 5px;
		}

		&__item-text {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.slick.list {
		max-height: 250px;
	}

	.products-weekly,
	.followers-feed {
		.products-title {
			padding: 10px 53px;
			text-align: center;
			margin-bottom: 40px;
		}

		.product-card__arrow-right--purple {
			right: 0;
		}

		.product-card__arrow-left {
			right: unset;
			left: 0;
		}

		.arrow {
			width: 40px;
			height: 40px;
			top: -40px;
			right: 0;
			border-radius: 0;
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
		}
	}

	.products-release {
		&__category {
			height: 40px;
		}

		&__title {
			padding-left: 5px;
			padding-right: 5px;
		}

		.product-card {
			&__title-link {
				text-align: center;
				margin-bottom: 10px;
			}

			&__user-name {
				display: block;
				text-align: center;
				margin-bottom: 10px;
			}

			&__descr {
				margin-bottom: 0;
			}

			&__specs {
				padding: 10px 5px;
			}
		}
	}
	.followers-feed {
		&__title {
			font-size: 24px;
		}
		&__info {
			justify-content: space-between
		}

		&__price {
			margin-right: unset;
		}
	}

	.btn {
		min-width: unset;
		height: unset;
	}

	.stats {
		&__items {
			padding-top: 73px;
			padding-bottom: 18px;

		}

		&__amount {
			font-size: 25px;
			line-height: 25px;
		}

		&__img {
			&::before {
				top: -48px;
				font-size: 30px;
			}
		}

		&__text {
			font-size: 15px;
			line-height: 20px;
		}
	}

	.profit {
		&__payment {
			width: calc(100% / 2 - 10px);
			padding-top: 42px;
			max-width: unset;
		}

		&__number {
			// left: 50%;
			// transform: translateX(-50%);
			top: 6px;
		}

		&__title,
		&__martplace-link {
			font-size: 25px;
		}

		&__wrapper {
			margin-bottom: 10px;
		}
	}

	.assignment {
		&__item {
			width: unset;
			position: static;
			padding: 10px;
			min-height: unset;
		}

		&__icon {
			margin-bottom: 5px;
		}

		&__title {
			font-size: 20px;
			margin-bottom: 5px;
		}

		&__text {
			padding: 0 10px;
			line-height: 16px;
			margin-bottom: 10px;
		}
	}

	.feedback {
		&__items {
			margin-bottom: 5px;
		}

		&__item {
			padding: 5px 10px;
		}

		&__title {
			font-size: 25px;
		}

		&__link-wrapper {
			margin-bottom: 10px;
		}

		&__user-name {
			margin-bottom: 5px;

			&::before {
				display: none;
			}
		}
	}

	.news {
		padding-bottom: 10px;

		&__title {
			font-size: 25px;
		}

		&__title-link {
			font-size: 16px;
		}
	}

	.join {
		&__title {
			font-size: 28px;
			margin-bottom: 5px;
		}

		&__text {
			font-size: 14px;
			margin-bottom: 10px;
		}

		&__main-link {
			font-size: 14px;
		}
	}

	.footer {
		&__col {
			min-width: 100%;

			&--list {
				margin-right: 20px;
			}
		}

		&__link {
			line-height: 27px;
		}

		&__col-title {
			line-height: 25px;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 450px) {
	.header {
		&__top-inner {
			min-height: 200px;
		}

		.menu-btn {
			right: -15px;
			top: 30px;
		}

		.user-btn {
			left: -15px;
			top: 40px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		.join-link {
			display: none;
		}

		.logo-link {
			position: absolute;
			top: 85px;
		}

		.search-form {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.products-weekly {
		.products-title {
			font-size: 20px;
		}

		.product-card {
			&__specs {
				display: block;
				text-align: center;
			}

			&__data {
				justify-content: space-between;
				margin: 0 auto;
			}

			&__price {
				margin-right: 5px;
			}

			&__likes {
				margin-right: 5px;
			}

			&__purchases {
				margin-right: unset;
			}

			.rate-star {
				margin: 0 auto;
			}
		}

		.product-card__imagelink--moreinfo {
			left: 50%;
			transform: translateX(-50%);
			top: 45px;
		}

		.product-card__imagelink--livedemo {
			left: 50%;
			transform: translate(-50%);
		}
	}

	.products-release {
		.product-card__user-info {
			padding: 0;
		}

		.product-card__title-link {
			margin-bottom: 5px;
		}

		.product-card__user-name {
			margin-bottom: 5px;
		}

		.product-card__descr {
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 5px;
		}

		.product-card__specs {
			position: relative;
			padding: 5px;
			padding-bottom: 30px;
		}

		.rate-star--products-release {
			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}

		.product-card__purchases {
			margin-left: unset;
		}
	}

	.profit {
		&__payment {
			width: 100%
		}
	}

	.stats {
		&__items {
			display: block;
			padding-top: 8px;
			padding-bottom: 8px;
			text-align: center;
		}

		&__item {
			max-width: unset;
			margin: 0 auto;
			padding-bottom: 2px;
			border-bottom: 1px solid;
			margin-bottom: 5px;

			&--yellow {
				border-color: #feb71d;
			}

			&--blue {
				border-color: #58c9e9;
			}

			&--green {
				border-color: #77de51;
			}

			&--red {
				border-color: #ff6a6d;
			}
		}

		&__img {
			&::before {
				display: none;
			}
		}
	}

	.news {
		&__time {
			font-size: 13px;

			&::before {
				font-size: 13px;
			}
		}

		&__link {
			font-size: 13px;

			&::before {
				font-size: 13px;
			}
		}
	}

	.warranty {
		&__text {
			font-size: 16px;
		}

		&__icon {
			max-height: 55px;
			margin-bottom: 5px;
		}
	}

	.join {
		&__title {
			font-size: 26px;
			margin-bottom: 5px;
		}

		&__text {
			font-size: 13px;
			margin-bottom: 10px;
		}

		&__main-link {
			font-size: 13px;
		}
	}
}




@media (min-width: 993px) {
	.main-menu {
		display: block !important;
	}

	.links {
		display: block !important;
	}

	.menu-btn {
		display: none !important;
	}
}