@import '_fonts';
@import '_vars';
@import '_global';

//header start

.header {

	&__top {
		background-color: #eef1f3;
		align-items: center;
		height: 100px;
	}

	&__top-inner {
		padding-top: 25px;
		padding-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-left: 7px;
	}

	&__join-link {
		margin-left: auto;
		margin-right: 51px;
		height: 36px;
		min-width: 140px;
		padding: 10px 18px;
		background-color: $blue;
		color: $white;
		font-weight: 400;
		font-size: 14px;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		text-decoration: none;
	}

	&__join-link:hover {
		border: 1px solid $blue;
		color: $blue;
		background-color: #fff;
	}

	&__user-menu {
		display: flex;
		justify-content: space-between;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 46px;
	}

	&__link--notif::before {
		content: '\e858';
	}

	&__link--message::before {
		content: '\e818';
	}

	&__link--cart::before {
		content: '\e82e';
	}


	&__item {
		font-size: 0;
	}

	&__user-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 180px;
		width: 100%;
		text-decoration: none;
	}

	&__user-icon {
		margin-right: 22px;
	}

	&__user-wallet {
		display: block;
	}

	&__link-icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		text-decoration: none;
		margin: auto;
		font-family: 'Linearicons-Free';
		color: #7e8fa1;
		font-size: 20px;
	}

	&__amount {
		position: absolute;
		top: -14px;
		right: -16px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-width: 22px;
		max-height: 22px;
		padding: 6px;
		border-radius: 30px;
		font-size: 14px;
		line-height: 14px;
		color: $white;
	}

	&__amount--notif {
		background-color: #ff6a6c;
	}

	&__amount--message {
		background-color: #62d03b;
	}

	&__amount--cart {
		background-color: $blue;
	}



	&__link-icon+&__link-icon {
		margin-left: 32px;
	}

	&__user-box {
		max-width: 130px;
	}

	&__user-name {
		width: 100%;
		font-size: 16px;
		line-height: 22px;
		color: #333;
		font-weight: 500;
		text-decoration: none;
	}

	&__user-link {
		display: block;
		max-width: 50px;
		width: 100%;
		height: 50px;
		margin-right: 22px;
		background-color: #7c7979;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__user-icon {
		border-radius: 50%;
		max-width: 50px;
		height: 50px;
	}

	&__user-wallet {
		font-size: 15px;
		line-height: 22px;
		color: $blue;
		font-weight: 400;
		text-decoration: none;
	}

	&__ground {
		height: 80px;
	}

	&__ground-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		padding: 0;
	}

	&__item {
		display: inline-block;
		list-style: none;
		text-transform: uppercase;
	}

	&__item+&__item {
		margin-left: 30px;
	}

	&__link {
		font-weight: 500;
		font-size: 15px;
		line-height: 42px;
		color: #333;
		text-decoration: none;
	}

	&__form {
		position: relative;
		width: 360px;
		margin-left: auto;
	}

	&__input {
		height: 46px;
		width: 100%;
		border: 1px solid rgb(217, 223, 229);
		padding-left: 23px;
		padding-right: 74px;
		border-radius: 30px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #898f96;
		outline: transparent;
	}

	&__input::placeholder {
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #898f96;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 46px;
		background-color: $blue;
		border: 1px solid transparent;
		border-radius: 30px;
		outline: transparent;
		cursor: pointer;
	}

	&__btn::before {
		content: "\e86f";
		font-family: 'Linearicons-Free';
		font-size: 15px;
		line-height: 30px;
		color: #fff;
	}

	&__btn:hover {
		border: 1px solid $blue;
		background-color: #fff;
		color: $blue;
	}

	&__btn:hover::before {
		color: $blue;
	}

}

//header end
// marketplace start


.marketplace {

	&__bg {
		height: 725px;
		position: relative;
		background-color: #2b2b2b;
	}

	&__bg-img {
		height: 100%;
		background: linear-gradient(-90deg, rgba(0, 48, 222, 0.8) 0%, rgba(23, 69, 237, 0.8) 54%, rgba(46, 90, 251, 0.8) 100%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__inner {
		padding-top: 168px;
		padding-bottom: 155px;
	}

	&__title {
		margin: 0 auto 60px;
		max-width: 930px;
		text-align: center;
		color: #f3f3f8;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__phrase {
		display: block;
		font-size: 60px;
		line-height: 71px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__title-phrase--mainphrase {
		font-weight: 400;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__title-phrase--secondaryphrase {
		font-weight: 700;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__text {
		font-size: 20px;
		line-height: 45px;
		font-weight: 500;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__buttons {
		display: flex;
		text-align: center;
		justify-content: center;
	}

	&__link {
		display: inline-block;
		min-width: 190px;
		padding: 18px 34px;
		border-radius: 30px;
		font-size: 16px;
		text-decoration: none;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
	}


	&__all-link {
		margin-left: auto;
		margin-right: 15px;
		background-color: $white;
		color: $blue;
	}

	&__all-link:hover {
		background-color: $blue;
		color: $white;
	}

	&__popular-link {
		margin-right: auto;
		margin-left: 15px;
		border: 1px solid $white;
		color: $white;
	}

	&__popular-link:hover {
		background-color: $white;
		color: $blue;
	}

	&__search {
		position: absolute;
		bottom: -66px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 1140px;
		min-height: 135px;
		background-color: $white;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		border-radius: 6px;
	}

	&__search::before,
	&__search::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 135px;
		background-color: rgb(255, 255, 255);
		opacity: 0.502;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}


	&__search::after {
		z-index: 1;
		width: 1110px;
		height: 13px;
	}

	&__search::before {
		z-index: 2;
		width: 1080px;
		height: 26px;
	}

	&__form {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__select {
		left: -9px;
	}

	&__label-text	{
		font-size: 0;
	}

	&__input {
		width: 611px;
		min-height: 55px;
		padding-left: 28px;
		padding-right: 28px;
		border: 1px solid rgb(220, 220, 220);
		border-right: none;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&__input::placeholder {
		color: #676767;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__select {
		position: relative;
		display: flex;
		align-items: center;
		margin-right: auto;
		min-height: 55px;
		padding-left: 20px;
		padding-right: 72px;
		border: 1px solid rgb(220, 220, 220);
		color: #555;
		appearance: none;
	}

	&__select::-ms-expand {
		display: none;
	}

	&__form::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 310px;
		z-index: 5;
		width: 13px;
		height: 8px;
		background-image: url(../images/icons/chevron-down.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__btn {
		width: 223px;
		height: 55px;
		border: none;
		border-radius: 4px;
		background-color: rgb(6, 116, 236);
		color: $white;
		cursor: pointer;
	}

	&__btn:hover {
		background-color: #fff;
		color: $blue;
		border: 1px solid $blue;
	}

	&__label-text {
		font-size: 0;
	}
}


// marketplace end
// info start

.info {

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 185px;
		padding-bottom: 119px;
	}

	&__item {
		position: relative;
		max-width: 361px;
		width: 100%;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
		min-height: 403px;
		padding: 205px 34px 20px;
	}

	&__item-title {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 7px;
		font-weight: 400;
		color: #010101;
	}

	&__item:hover {
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}

	&__item--research::after {
		background-image: url(../images/icons/research-icon.png);
	}

	&__item--responsive::after {
		background-image: url(../images/icons/responsive-icon.png);
	}

	&__item--buysell::after {
		background-image: url(../images/icons/buysell-icon.png);
	}

	&__item::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: 38px;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}

}

// info end

.products-weekly {
	padding-top: 120px;
	background-color: #eff1f5;
}

// products start

.products {

	&__title {
		min-height: 110px;
		margin-bottom: 52px;
		text-align: left;
		max-width: 100%;
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 28px;
		padding-right: 150px;
		background-color: $white;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		font-size: 30px;
		line-height: 28px;
		font-weight: 400;
		color: #000;
	}


	&__release-title {
		min-height: 110px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
		padding-right: 0;
		min-width: 110px;
		max-width: 100%;
		align-items: center;
		padding-left: 28px;
		background-color: $white;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		text-align: center;
		font-size: 30px;
		line-height: 28px;
		font-weight: 400;
		color: #000;
	}

	&__release-title:hover::after {
		cursor: pointer;
	}

	&__release-filter {
		position: relative;
		padding-right: 28px;
		margin-right: 30px;
		background-color: transparent;
		border: none;
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: #747b86;
		cursor: pointer;
	}

	&__release-filter::after {
		content: '';
		background-image: url(../images/icons/filterby-icon.svg);
		width: 5px;
		height: 20px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__release-filter-link {
		text-decoration: none;
	}
}

// template start
.template {
	display: flex !important;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 120px;
	min-height: 451px;
	border-radius: 3px;

	&__image {
		position: relative;
		max-width: 555px;
		width: 100%;
		font-size: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__template-img {
		@extend %mainpic;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__links {
		@extend %mainlink;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		&:hover {
			background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
			opacity: 0.902;
		}
	}

	&__links:hover &__imagelink--moreinfo,
	&__links:hover &__imagelink--livedemo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__imagelink {
		@extend %imagelink;
	}

	&__imagelink--moreinfo {
		left: 135px;
		display: none;
		right: 45px;
		border: 1px solid #f4f4f4;
		background: transparent;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $white;

		&:hover {
			background-color: $white;
			border: none;
			color: $blue;
		}
	}

	&__imagelink--livedemo {
		display: none;
		right: 135px;
		background-color: $white;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $blue;

		&:hover {
			border: 1px solid #f4f4f4;
			background: transparent;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
			color: $white;
		}
	}



	&__user-info {
		max-width: 586px;
		width: 100%;
		padding: 47px 51px 26px 51px;
		background-color: $white;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&__title-link {
		display: block;
		margin-bottom: 13px;
		align-items: center;
		padding: 0;
		font-size: 24px;
		font-weight: 500;
		color: #000;
		text-decoration: none;
	}

	&__user-link {
		font-weight: 400;
		font-size: 15px;
		line-height: 30px;
		color: #000;
	}

	&__user-name {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 26px;
	}

	&__user-icon {
		width: 30px;
		height: 30px;
		margin-right: 9px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $purple;
	}

	&__link {
		max-width: 250px;
		display: flex;
		align-items: center;
		margin-right: 43px;
		text-decoration: none;
		color: #000;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		text-decoration: none;
	}

	&__platform {
		position: relative;
		display: block;
		text-decoration: none;
		font-weight: 15px;
		line-height: 30px;
		font-weight: 400;
	}

	&__platform-icon {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 50%;
		left: -18px;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		font-size: 0;
	}

	&__descr {
		max-width: 490px;
		width: 100%;
		height: 104px;
		margin-bottom: 32px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
		font-weight: 400;
		text-align: left;
		overflow-y: scroll;
	}

	&__descr::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__category {
		height: 95px;
		margin-bottom: 21px;
		border-bottom: 1px solid #ececec;
		overflow-y: scroll;
	}

	&__category::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}


	&__category-btn {
		@extend %btn;
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #868c96;
		text-decoration: none;
	}

	&__specs {
		display: flex;
		justify-content: space-between;
	}

	&__data {
		width: 100%;
		max-width: 270px;
		display: flex;
		justify-content: flex-start;
	}

	&__price {
		@extend %price;
		margin-right: 19px;
		padding-left: 18px;
		padding-right: 18px;
		color: $white;
		background-color: $blue;
	}

	&__likes {
		@extend %specsbtn;
		padding-left: 26px;
		margin-right: 13px;
		position: relative;
		color: #555;
	}

	&__purchases {
		@extend %specsbtn;
		margin-right: auto;
		padding-left: 23px;
		position: relative;
		color: $blue;
	}

	&__purchases::before,
	&__likes::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__likes::before {
		width: 16px;
		height: 14px;
		left: 0;
		background-image: url(../images/icons/template-like-icon.svg);
	}

	&__purchases::before {
		width: 14px;
		height: 13px;
		left: 0;
		background-image: url(../images/icons/cart-icon.svg);
	}

	&__arrow-left {
		right: 85px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__arrow-right {
		right: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__rate-star {
		display: flex;
		align-items: center;
	}

}

// template end
// products-release start

.products-release {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #f6f7fb;
	text-align: center;

	&__category {
		height: 92px;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 47px;
		padding: 10px 30px;
		overflow-y: scroll;
		max-width: 100%;
		background-color: $white;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		text-align: center;
		font-size: 30px;
		line-height: 28px;
		font-weight: 400;
		color: #000;
	}

	&__category::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__category-btn {
		@extend %btn;
		margin-right: 9px;
		margin-bottom: 9px;
		padding-left: 20px;
		padding-right: 20px;
		outline: transparent;
	}

	&__category-btn:hover {
		background-color: $blue;
		color: #fff;
	}

	&__hashtag-link:hover {
		color: $white;
	}

	&__link {
		text-align: center;
	}

	&__bottom-link {
		display: inline-block;
		padding: 22px 44px;
		background-color: $blue;
		color: $white;
		font-weight: 400;
		font-size: 14px;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
		border-radius: 30px;
		text-decoration: none;
	}

	&__bottom-link:hover {
		border: 1px solid $blue;
		background-color: #fff;
		color: $blue;
	}

}

// products-release end
// release-template start

.release-template {
	margin-bottom: 41px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__item {
		max-width: 362px;
		width: 100%;
		height: 529px;
		margin-bottom: 25px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		text-align: left;
	}

	&__template-img {
		@extend %mainpic;
	}

	&__user-icon {
		@extend %usericon;
	}

	&__user-icon-text {
		font-size: 0;
	}

	&__image {
		position: relative;
		width: 100%;
	}

	&__user-info {
		margin-bottom: 10px;
		padding: 27px 30px 8px;
		width: 100%;
	}

	&__user-name {
		@extend %username;
		margin-bottom: 26px;
	}

	&__link {
		display: flex;
		align-items: center;
		margin-right: 19px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #000;
		text-decoration: none;
	}

	&__title-link {
		display: block;
		margin-bottom: 20px;
		padding: 0;
		font-size: 20px;
		font-weight: 400;
		color: #000;
		text-decoration: none;
	}

	&__platform {
		@extend %userplatform;
	}

	&__icon {
		@extend %icon;
	}

	&__platform-name {
		margin-left: 10px;
	}

	&__descr {
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #555;
		overflow-y: scroll;
	}

	&__descr::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__button {
		@extend %btn;
		position: relative;
		padding: 0;
		background-color: transparent;
	}

	&__links {
		@extend %mainlink;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		&:hover {
			background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
			opacity: 0.902;
		}
	}

	&__links:hover &__imagelink--moreinfo,
	&__links:hover &__imagelink--livedemo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__imagelink {
		@extend %imagelink;
	}

	&__imagelink--moreinfo {
		display: none;
		right: 45px;
		border: 1px solid #f4f4f4;
		background: transparent;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $white;

		&:hover {
			background-color: $white;
			border: none;
			color: $blue;
		}
	}

	&__imagelink--livedemo {
		display: none;
		left: 45px;
		background-color: $white;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $blue;

		&:hover {
			border: 1px solid #f4f4f4;
			background: transparent;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
			color: $white;
		}
	}

	&__specs {
		@extend %specs;
	}

	&__info {
		@extend %info;
	}

	&__button--cart {
		margin-left: auto;
	}

	&__button--heart::before,
	&__button--cart::before {
		position: absolute;
		left: -20px;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Linearicons-Free';
		font-size: 15px;
	}

	&__button--heart::before {
		content: "\e813";
		color: #7f4ec2;
	}

	&__button--cart::before {
		content: "\e82e";
		left: -24px;
		color: $blue;
	}

	&__price {
		@extend %price;
	}
}

// release-template end
// followers-feed start

.followers-feed {
	padding-top: 120px;
	padding-bottom: 95px;
	background-color: #eff1f5;

	&__title {
		min-height: 110px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 51px;
		padding-right: 0;
		padding-left: 28px;
		align-items: center;
		background-color: $white;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		border-radius: 4px;
		text-align: center;
		font-size: 30px;
		line-height: 28px;
		font-weight: 400;
		color: #000;
	}

	&__template-img {
		@extend %mainpic;
	}

	&__user-icon {
		@extend %usericon;
	}

	&__user-icon-text {
		font-size: 0;
	}

	&__title-link {
		position: relative;
		display: block;
		margin-bottom: 20px;
		padding: 0;
		font-size: 20px;
		font-weight: 400;
		color: #000;
		text-decoration: none;
		margin-bottom: 13px;
		align-items: center;
	}

	&__item {
		margin-right: 27px;
		max-width: 362px;
		width: 100%;
		min-height: 529px;
		margin-bottom: 25px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		text-align: left;
	}

	&__links {
		@extend %mainlink;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;

		&:hover {
			background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
			opacity: 0.902;
		}
	}

	&__links:hover &__imagelink--moreinfo,
	&__links:hover &__imagelink--livedemo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__imagelink {
		@extend %imagelink;
	}

	&__imagelink--moreinfo {
		display: none;
		right: 45px;
		border: 1px solid #f4f4f4;
		background: transparent;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $white;

		&:hover {
			background-color: $white;
			border: none;
			color: $blue;
		}
	}

	&__imagelink--livedemo {
		display: none;
		left: 45px;
		background-color: $white;
		box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
		color: $blue;

		&:hover {
			border: 1px solid #f4f4f4;
			background: transparent;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
			color: $white;
		}
	}

	&__user-info {
		padding: 30px 30px 25px;
		width: 100%;
	}

	&__user-title {
		display: block;
		margin-bottom: 20px;
		padding: 0;
		font-size: 20px;
		font-weight: 400;
		color: #000;
		text-decoration: none;
		margin-bottom: 13px;
		align-items: center;
	}

	&__user-name {
		@extend %username;
		margin-bottom: 26px;
	}

	&__link {
		display: flex;
		align-items: center;
		margin-right: 19px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #000;
		text-decoration: none;
	}

	&__platform {
		@extend %userplatform;
	}

	&__icon {
		@extend %icon;
	}

	&__platform-name {
		margin-left: 10px;
	}

	&__descr {
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #555;
		overflow-y: scroll;
	}

	&__descr::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__arrow-left,
	&__arrow-right {
		background-color: $blue;
		top: -130px;
	}

	&__arrow-left {
		right: 93px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__arrow-right {
		right: 38px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__image {
		position: relative;
		width: 100%;
	}

	&__button {
		@extend %btn;
		position: relative;
		padding: 0;
		background-color: transparent;
	}

	&__specs {
		@extend %specs;
	}

	&__info {
		@extend %info;
	}

	&__button--cart {
		margin-left: auto;
	}

	&__button--heart::before,
	&__button--cart::before {
		position: absolute;
		left: -20px;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Linearicons-Free';
		font-size: 15px;
	}

	&__button--heart::before {
		content: "\e813";
		color: #7f4ec2;
	}

	&__button--cart::before {
		content: "\e82e";
		left: -24px;
		color: $blue;
	}

	&__price {
		@extend %price;
	}

}

// stats start

.stats {

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 182px;
		padding-bottom: 89px;
	}

	&__item {
		position: relative;
		max-width: 25%;
		text-align: center;
	}

	&__text {
		font-size: 18px;
		line-height: 36px;
		color: $white;
		font-weight: 400;
	}

	&__amount {
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: 400;
	}

	&__img {
		font-size: 0;
	}

	&__img::before {
		position: absolute;
		top: -84px;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Linearicons-Free';
		font-size: 48px;
		line-height: 36px;
		font-weight: 500;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__img--forsale::before {
		content: "\e84c";
		color: #feb71d;
	}

	&__img--totalsale::before {
		content: "\e80b";
		color: #58c9e9;
	}

	&__img--customers::before {
		content: "\e854";
		color: #77de51;
	}

	&__img--members::before {
		content: "\e82b";
		color: #ff6a6d;
	}

	&__amount--forsale {
		color: #feb71d;
	}

	&__amount--totalsale {
		color: #58c9e9;
	}

	&__amount--customers {
		color: #77de51;
	}

	&__amount--members {
		color: #ff6a6d;
	}

}

// stats end

// profit start

.profit {

	&__inner {
		max-width: 751px;
		width: 100%;
		margin: 0 auto;
		padding-top: 110px;
		padding-bottom: 54px;
		text-align: center;
	}

	&__title {
		margin-bottom: 28px;
		font-size: 36px;
		line-height: 38px;
		color: #000;
		font-weight: 500;
	}

	&__martplace-link {
		color: $blue;
		text-decoration: none;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 90px;
		text-align: center;
	}

	&__payment {
		max-width: 361px;
		display: block;
		position: relative;
		min-height: 373px;
		margin-bottom: 30px;
		padding: 160px 34px 20px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		text-decoration: none;
	}

	&__item-title {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 7px;
		font-weight: 400;
		color: #010101;
	}

	&__number {
		position: absolute;
		top: 9px;
		left: 19px;
		font-size: 48px;
		color: rgba(92, 135, 248, 0.2);
	}

	&__icon {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		font-size: 0;
	}

	&__icon::before {
		position: absolute;
		left: 50%;
		top: 50px;
		transform: translateX(-50%);
		font-family: 'Linearicons-Free';
		font-size: 60px;
		font-weight: 400;
	}

	&__icon--payment::before {
		content: "\e822";
		color: $blue;
	}

	&__icon--quality::before {
		content: "\e803";
		color: #7f4ec2;
	}

	&__icon--secure::before {
		content: "\e80f";
		color: #77de51;
	}

	&__icon--code::before {
		content: "\e843";
		color: #feb71d;
	}

	&__icon--update::before {
		content: "\e849";
		color: #58c9e9;
	}

	&__icon--support::before {
		content: "\e831";
		color: #ff6a6d;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}

}

// profit end

// assignment start

.assignment {

	&__inner {
		position: relative;
		min-height: 562px;
		width: 100%;
	}

	&__item {
		position: absolute;
		width: 50%;
		min-height: 561px;
		padding-top: 87px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}

	&__item--selling {
		right: 50%;
		padding-left: 40px;
	}

	&__item--shopping {
		left: 50%;
		padding-right: 70px;
	}

	&__icon {
		max-width: 120px;
		min-height: 120px;
		margin: 0 auto;
		margin-bottom: 40px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;
	}

	&__title,
	&__text {
		font-size: 36px;
		line-height: 30px;
		font-weight: 400;
		color: #fff;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 43px;
		font-size: 16px;
	}

	&__link {
		padding: 17px 26px;
		background-color: #fff;
		border-radius: 30px;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		min-width: 190px;
		padding: 18px 29px;
		border-radius: 30px;
		font-size: 16px;
		text-decoration: none;
	}

	&__link:hover {
		color: #fff;
		border: 1px solid #fff;
	}

	&__link--author {
		color: $blue;
	}

	&__link--author:hover {
		background-color: $blue;
	}

	&__link--shopping {
		color: $purple;
	}

	&__link--shopping:hover {
		background-color: $purple;
	}


}

// assignment end

// feedback start


.feedback {
	padding-top: 120px;
	padding-bottom: 120px;

	&__inner {
		max-width: 690px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 36px;
		line-height: 28px;
		color: #000;
		font-weight: 400;
	}

	&__link {
		color: $blue;
		text-decoration: none;
	}

	&__text {
		margin-bottom: 55px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
		font-weight: 400;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 57px;
	}

	&__item {
		min-height: 315px;
		max-width: 555px;
		padding: 45px 40px;
		border-left: 1px solid $blue;
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}

	&__profile-link {
		text-decoration: none;
	}

	&__link-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
	}

	&__link-wrapper::before {
		position: absolute;
		right: 0;
		top: -13px;
		font-family: 'Linearicons-Free';
		content: "\e83f";
		font-size: 60px;
		color: #e8e8e8;
	}

	&__profile-image {
		display: flex;
		align-items: center;
		max-width: 80px;
		height: 80px;
		margin-right: 19px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		font-size: 0;
	}

	&__img {
		max-width: 100%;
		height: 100%;
	}

	&__user-info {
		margin-right: auto;
	}

	&__user-name {
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 400;
		color: #000;
	}

	&__user-occupation,
	&__description {
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #555;
	}

	&__description {
		height: 120px;
		overflow-y: scroll;
	}

	&__description::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__link {
		text-align: center;
	}

	&__viewall-link {
		display: inline-block;
		min-width: 190px;
		padding: 18px 34px;
		border-radius: 30px;
		font-size: 16px;
		text-decoration: none;
		background-color: $blue;
		color: #fff;
	}

	&__viewall-link:hover {
		background-color: #fff;
		border: 1px solid $blue;
		color: $blue;
	}
}

// feedback end

// news start

.news {
	background-color: #eff1f5;
	text-align: center;
	padding-bottom: 96px;

	&__inner {
		max-width: 751px;
		width: 100%;
		margin: 0 auto;
		padding-top: 110px;
		padding-bottom: 51px;
		text-align: center;
	}

	&__template-img {
		@extend %mainpic;
	}

	&__title {
		margin-bottom: 28px;
		font-size: 36px;
		line-height: 38px;
		color: #000;
		font-weight: 500;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		max-width: 362px;
		width: 100%;
		height: 275px;
		margin-bottom: 25px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		text-align: left;
		height: 475px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}

	&__image {
		position: relative;
		width: 100%;
	}

	&__user-info {
		padding-left: 20px;
		width: 100%;
	}

	&__title-link {
		position: relative;
		display: block;
		padding: 0;
		color: #000;
		text-decoration: none;
		align-items: center;
		font-size: 22px;
		font-weight: 400;
	}

	&__descr {
		height: 110px;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #555;
		overflow-y: scroll;
	}

	&__descr::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&__specs {
		position: relative;
		height: 59px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 53px;
		padding-right: 30px;
		border-top: 1px solid #ececec;
	}

	&__time {
		position: relative;
		font-size: 15px;
		line-height: 30px;
		color: #999;
		font-weight: 400;
	}

	&__time::before {
		content: "\e864";
		color: $blue;
	}

	&__specs::after {
		content: '';
		position: absolute;
		width: 1px;
		height: 40px;
		left: 50%;
		transform: translateX(-50%);
		top: 11px;
		background-color: #ececec;
	}

	&__btn {
		display: flex;
		justify-content: space-between;
	}

	&__button {
		@extend %btn;
		position: relative;
		padding: 0;
		background-color: transparent;
		position: relative;
		font-size: 15px;
		line-height: 30px;
		color: #7e7e7e;
		font-weight: 400;
	}

	&__button::before,
	&__time::before {
		position: absolute;
		left: -23px;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Linearicons-Free';
	}

	&__button--comments {
		margin-left: auto;
		margin-right: 56px;
	}

	&__button--comments::before {
		content: "\e83f";
	}

	&__button--views::before {
		content: "\e81b";
	}
}

// news end

// warranty start
.warranty {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1px;
		height: 100%;
		background-color: #eff1f5;
	}

	&__inner {
		min-height: 297px;
		position: relative;
	}

	&__item {
		position: absolute;
		top: 7px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
		text-align: center;
	}

	&__inner--guarantee {
		right: 57%;
	}

	&__inner--support {
		left: 56%;
	}

	&__icon {
		max-width: 220px;
		max-height: 150px;
		margin-bottom: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__text {
		font-size: 24px;
		color: #000;
	}

	&__word--guarantee {
		color: $blue;
	}

	&__word--support {
		color: $purple;
	}

}

// warranty end
// join start
.join {
	padding-top: 98px;
	padding-bottom: 110px;
	text-align: center;
	background-image: linear-gradient(-90deg, rgba(13, 62, 242, .902) 0%, rgba(64, 48, 201, .902) 46%, rgba(114, 33, 160, .902) 100%);


	&__title {
		font-size: 36px;
		color: #fff;
		margin-bottom: 16px;
	}

	&__text {
		font-size: 18px;
		color: #e7e7e7;
		margin-bottom: 56px;
	}

	&__link {
		display: inline-block;
		min-width: 190px;
		height: 55px;
		padding: 20px 50px;
		text-decoration: none;
		font-size: 16px;
		color: $blue;
		background-color: #fff;
		border-radius: 30px;
	}

	&__link:hover {
		background-color: $blue;
		border: 1px solid #fff;
		color: #fff;
	}
}

.footer {

	&__content {
		min-height: 525px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 115px;
		padding-bottom: 115px;
	}


	&__col--info {
		max-width: 264px;
		width: 100%;
	}

	&__logo {
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 30px;
		font-size: 15px;
		line-height: 28px;
		color: #ababab;
	}

	&__contact {
		position: relative;
		display: block;
		margin-left: 29px;
		margin-bottom: 10px;
		font-family: 'Linearicons-Free';
		font-size: 15px;
		line-height: 26px;
		color: #ababab;
		text-decoration: none;
	}

	&__contact::before {
		position: absolute;
		left: -29px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 16px;
		line-height: 28px;
		color: #ababab;
	}

	&__contact--phone::before {
		content: "\e830";
	}

	&__contact--email::before {
		content: "\e818";
	}

	&__contact--adress::before {
		content: "\e833";
	}

	&__col-title {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 42px;
		color: #fff;
	}

	&__col--list {
		margin-right: 30px;
		max-width: 196px;
	}

	&__col--list-support {
		padding-left: 19px;
	}

	&__list {
		padding: 0;
	}

	&__list-item {
		list-style: none;
		margin-bottom: 1px;
	}

	&__link {
		font-size: 15px;
		line-height: 32px;
		color: #ababab;
		text-decoration: none;
	}

	&__col--newsletter {
		max-width: 360px;
	}

	&__text--newsletter {
		margin-bottom: 19px;
	}

	&__label-text {
		font-size: 0;
	}

	&__form {
		position: relative;
		margin-bottom: 31px;
	}

	&__input {
		max-width: 100%;
		width: 100%;
		min-height: 50px;
		padding-left: 30px;
		padding-right: 120px;
		font-size: 100;
		background-color: #fff;
		border-radius: 30px;
	}

	&__input::placeholder {
		font-size: 15px;
		line-height: 28px;
		color: #ababab;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		max-width: 110px;
		width: 100%;
		min-height: 50px;
		background-color: $blue;
		font-size: 15px;
		line-height: 42px;
		color: #fff;
		border: none;
		border-radius: 30px;
	}

	&__btn:hover {
		background-color: #fff;
		border: 5px solid $blue;
		color: $blue;
		font-weight: 700;
	}

	&__social {
		max-width: 320px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__social-item {
		position: relative;
		max-width: 42px;
		width: 100%;
		height: 42px;
		border-radius: 50%;
	}

	&__social-item:hover {
		border: 2px solid #fff;
	}

	&__social-item--fb {
		background-color: #395799;
	}

	&__social-item--tw {
		background-color: #19b2f5;
	}

	&__social-item--google {
		background-color: #f05b44;
	}

	&__social-item--pint {
		background-color: #9c0c1c;
	}

	&__social-item--in {
		background-color: #0da6be;
	}

	&__social-item--dribble {
		background-color: #ea4c89;
	}

	&__social-link {
		display: block;
		text-decoration: none;
	}

	&__social-link::before {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-family: 'icomoon' !important;
		color: #fff;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__social-link--fb::before {
		content: "\f09a";
	}

	&__social-link--tw::before {
		content: "\f099";
	}

	&__social-link--google::before {
		content: "\f1a0";
	}

	&__social-link--pint::before {
		content: "\f0d2";
	}

	&__social-link--in::before {
		content: "\f0e1";
	}

	&__social-link--dribble::before {
		content: "\f17d";
	}

	&__copy-content {
		height: 94px;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #192027;
		text-align: center;
	}

	&__copy-text {
		font-size: 15px;
		line-height: 27px;
		color: #999;
	}

	&__copy-link {
		color: #fff;
		text-decoration: none;
	}
}