@import '_fonts';
@import '_vars';
@import '_global';

//---header start---

.header {

	.menu-btn {
		display: none;
		top: 7px;

		&__line {
			width: 40px;
			height: 5px;
			background-color: #fff;
			border: 2px solid $blue;
			border-radius: 10px;
			margin-bottom: 3px;
		}
	}

	.user-btn {
		position: relative;
		display: none;
		width: 44px;
		height: 44px;
		background-color: $blue;
		border-radius: 4px;

		&::before {
			position: absolute;
			content: "\e82a";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: 'Linearicons-Free';
			font-size: 38px;
			line-height: 36px;
			color: #fff;
		}
	}

	&--top {
		background-color: #eef1f3;
	}

	&__top-inner {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.join-link {
		height: 36px;
		padding-left: 18px;
		display: flex;
		align-items: center;
		padding-right: 18px;
		text-decoration: none;
		background-color: $blue;
		border-radius: 30px;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
		margin-right: 50px;
		margin-left: auto;
		border: 1px solid transparent;

		&:hover {
			background-color: transparent;
			color: $blue;
			border: 1px solid $blue;
		}
	}

	.links {
		&__box {
			display: inline-block;
			vertical-align: middle;

			@media (min-width: 993px) {
				&:hover {

					.dropdown,
					.dropmenu--user {
						z-index: 999;
						transform: scaleY(1);
						opacity: 1;
						visibility: visible;
						overflow: visible;
					}
				}
			}
		}
	}

	.link-item {
		position: relative;
		height: 100px;
		display: flex;
		align-items: center;
		text-decoration: none;

		&:hover::before {
			color: $blue;
		}

		&::before {
			font-family: 'Linearicons-Free';
			font-size: 20px;
			color: #7e8fa1;
		}

		&--notif {
			margin-right: 25px;

			&::before {
				content: "\e858";
			}
		}

		&--message {
			margin-right: 27px;

			&::before {
				content: "\e818";
			}
		}

		&--cart {
			margin-right: 43px;

			&::before {
				content: "\e82e";
			}
		}

		&__text {
			font-size: 0;
			line-height: 0;
		}

		&__amount {
			position: absolute;
			top: 23px;
			right: -17px;
			height: 22px;
			min-width: 22px;
			border-radius: 50%;
			text-align: center;
			font-size: 14px;
			line-height: 22px;
			color: #fff;
			font-weight: 500;

			&--notif {
				background-color: #ff6a6c;
			}

			&--message {
				background-color: #62d03b;
			}

			&--cart {
				background-color: $blue;
			}
		}

		&__user {
			display: flex;
			justify-content: space-between;

			&--icon {
				width: 50px;
				height: 50px;
				margin-right: 22px;
				border-radius: 50%;
			}

			&--name {
				display: block;
				font-weight: 500;
				font-size: 16px;
				line-height: 22px;
				color: #333;
				text-align: left;
			}

			&--wallet {
				font-weight: 400;
				font-size: 15px;
				line-height: 22px;
				color: $blue;
			}
		}
	}

	&__ground-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


}

.main-menu {
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;

		@media (min-width: 993px) {
			&:hover {
				.dropmenu {
					opacity: 1;
					z-index: 999;
					visibility: visible;
					overflow: visible;
				}
			}
		}
	}

	&__link {
		display: block;
		margin-right: 26px;
		line-height: 80px;
		font-size: 15px;
		color: #333;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
		}
	}

	&__arrow {
		position: absolute;
		width: 50px;
		display: none;
		border: none;
		width: 44px;
		height: 44px;


		&::after,
		&::before {
			position: absolute;
			height: 22px;
			width: 2px;
			background-color: $blue;
		}


		&::before {
			content: '';
			transform: rotate(-45deg);
			left: 17px;
			top: 20px;
		}

		&::after {
			content: '';
			transform: rotate(45deg);
			left: 17px;
			top: 5px;
		}

		&--col-menu {
			&::before {
				content: '';
				transform: rotate(45deg);
				left: 30px;
				top: 10px;
			}

			&::after {
				content: '';
				transform: rotate(-45deg);
				top: 10px;
				left: 15px;
			}
		}
	}

	&__text {
		font-size: 0;
		line-height: 0;
	}
}

.search-menu {
	position: relative;
	max-width: 40px;
	width: 100%;
	height: 30px;
	// display: none;
	border-radius: 30px;
	background-color: $blue;
	font-family: 'Linearicons-Free';

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "\e86f";
		color: #fff;
	}
}

.search-form {
	&--hidden-media {
		display: none;
		height: 30px;
		max-width: 300px;
	}

	max-width: 360px;
	width: 100%;
	height: 46px;
	position: relative;

	&--category {
		height: 55px;
		max-width: 555px;
		margin: 0 auto;
		margin-bottom: 33px;

		.search-form__input {
			width: 100%;
		}

		.search-form__btn {
			height: 57px;
			max-width: 110px;
			width: 100%;
			text-align: center;
			font-size: 15px;
			line-height: 42px;
			color: #fff;
			font-weight: 400;

			&::before {
				display: none;
			}
		}

		.search-form__input {
			height: 100%;
			padding-right: 120px;
		}
	}

	&__text {
		font-size: 0;
		line-height: 0;
	}

	&__input {
		position: absolute;
		top: 0;
		right: 0;
		height: 46px;
		width: 360px;
		padding-left: 25px;
		padding-right: 70px;
		border-radius: 30px;
		border: 1px solid #d9dfe5;

		&::placeholder {
			font-size: 15px;
			line-height: 30px;
			color: #898f96;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 70px;
		height: 46px;
		background-color: $blue;
		border: none;
		border-radius: 30px;

		&::before {
			content: "\e86f";
			font-family: 'Linearicons-Free';
			font-size: 15px;
			line-height: 30px;
			color: #fff;
		}

		&:hover {
			background: #fff;
			border: 1px solid $blue;
			color: $blue;

			&::before {
				color: $blue;
			}
		}
	}
}

// HOME MENU START
.dropmenu {
	&--home {
		max-width: 270px;
	}

	&__item--home {
		&:hover {
			border-radius: 2px;
			background-color: rgb(6, 116, 236);

			.dropmenu__link {
				color: #fff;
			}
		}
	}
}

// HOME MENU END

// ALLPRODUCTS MENU START
.dropmenu {
	&--allproducts {
		max-width: 270px;
	}

	&__item--allproducts {
		&:hover {
			border-radius: 2px;
			background-color: rgb(6, 116, 236);


			.dropmenu__link {
				color: #fff;
			}
		}
	}
}

// ALLPRODUCTS MENU END

// WORDPRESS MENU START
.dropmenu {
	&--wordpress {
		max-width: 270px;
	}

	&__item--wordpress {
		&:hover {
			border-radius: 2px;
			background-color: rgb(6, 116, 236);


			.dropmenu__link {
				color: #fff;
			}
		}
	}
}

// WORDPRESS MENU END

// PAGES MENU START
.dropmenu {


	&--pages {
		text-transform: capitalize;
		max-width: 1140px;
		left: 0;
	}

	&__col {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
	}

	&__inner {
		display: flex;
		justify-content: space-around;

		&--wide {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__title {
		border-bottom: 1px solid #e8ebf0;

		&--pages {
			position: relative;
			margin: 0;
			margin-left: 10px;
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 40px;
			color: #000;
			font-weight: 500;
			border: none;
		}
	}

	&__item--pages {

		&:hover {
			border-radius: 2px;
			background-color: rgb(6, 116, 236);

			.dropmenu__link {
				color: #fff;
			}
		}
	}

	&__list {
		&--pages {
			display: inline-block;
			vertical-align: top;
			max-width: 165px;
			max-width: 100%;
			margin: 0;
			padding-left: 10px;
		}

		&--left {
			margin-right: 30px;
		}
	}

	&__link--pages {
		display: block;
		line-height: 42px;
		margin-right: 10px;
	}
}

// PAGES MENU END

// USER MENU START
.dropmenu {
	&--user {
		max-width: 270px;
		right: 0;

		&::after {
			content: '';
			position: absolute;
			z-index: 4;
			top: -8px;
			right: 28px;
			width: 16px;
			height: 8px;
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #0675ec transparent;
			box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		}
	}

	&__item--user {
		max-width: 230px;
		height: 44px;
		padding-left: 41px;
		text-align: left;

		&:hover {
			width: 230px;
			height: 44px;
			border-radius: 2px;
			background-color: rgb(6, 116, 236);

			.dropmenu__link--user {
				color: #fff;

				&::before {
					color: #fff;
				}
			}
		}
	}

	&__link--user {
		position: relative;
		display: block;
		height: 100%;
		font-size: 15px;
		line-height: 44px;
		color: #54667a;
		text-decoration: none;

		&::before {
			position: absolute;
			left: -32px;
			font-family: 'Linearicons-Free';
			color: #54667a;
		}
	}

	&__link {

		&--profile::before {
			content: "\e82a";
		}

		&--dash::before {
			content: "\e800";
		}

		&--acc::before {
			content: "\e810";
		}

		&--purch::before {
			content: "\e82e";
		}

		&--fav::before {
			content: "\e840";
		}

		&--cred::before {
			content: "\e812";
		}

		&--stat::before {
			content: "\e842";
		}

		&--upload::before {
			content: "\e843";
		}

		&--edit::before {
			content: "\e828";
		}

		&--with::before {
			content: "\e84c";
		}

		&--logout::before {
			content: "\e868";
		}
	}
}

// USER MENU END

//NOTIF MENU START
.dropdown {

	&--notif {
		max-width: 370px;
		top: 100px;
		right: 0;

		&::after {
			left: 32px;
		}
	}

	&__title--notif {
		padding: 20px 24px;
	}

	&__item--notif {
		position: relative;
		display: flex;
		align-items: center;
		margin: 0 auto;
		padding: 10px 25px;
	}

	&__info {
		text-align: left;
	}

	&__name {
		font-size: 16px;
		line-height: 20px;
		color: #333;
		text-decoration: none;
	}

	&__action {
		font-size: 15px;
		line-height: 20px;
		color: #747a86;
	}

	&__platform {

		&--notif {
			display: block;
			text-decoration: none;
			font-size: 15px;
			line-height: 22px;
			color: $blue;

			&::after {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 32px;
				width: 100%;
				height: 32px;
				border-radius: 50%;
				background-color: #e6f1fd;
				font-family: 'Linearicons-Free';
				position: absolute;
				right: 32px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 15px;
				line-height: 28px;
			}
		}

		&--heart::after {
			content: "\e813";
			color: $blue;
		}

		&--comment::after {
			content: "\e83f";
			color: $purple;
		}

		&--shop::after {
			content: "\e82e";
			color: #ff6a6c;
		}

		&--star::after {
			content: "\e814";
			color: #62d03a;
		}
	}

	&__link-time--notif {
		display: block;
		font-size: 14px;
		line-height: 28px;
		color: #747a86;
	}
}

// NOTIF MENU END

// MESSAGE MENU START
.dropdown {
	&--msg {
		max-width: 370px;
		top: 100px;
		right: 243px;
	}

	&__title--msg {
		padding: 20px 24px;
		transition: all .4s;
	}

	&__link--msg {
		text-align: left;
		padding: 20px 25px;
		transition: all .4s;
	}

	&__link-time--msg {
		position: absolute;
		top: 18px;
		right: 25px;
		padding-top: 0px;
	}

	&__name {

		&--msg {
			display: inline-block;
			position: relative;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: #333;
		}

		&::before {
			position: absolute;
			right: -28px;
		}

		&--reply::before {
			font-family: 'icomoon';
			content: "\f112";
			color: #555;
		}

		&--envelope::before {
			font-family: 'Linearicons-Free';
			content: "\e818";
			color: $blue;
		}
	}
}

// MESASGE MENU END

// CART MENU START
.dropdown {
	&--cart {
		max-width: 400px;
		right: 189px;
		top: 100px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		&::after {
			content: '';
			position: absolute;
			z-index: 4;
			top: -8px;
			right: 32px;
			width: 16px;
			height: 8px;
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #0675ec transparent;
			box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		}
	}

	&__platform--cart {
		position: relative;
		padding-left: 21px;
		text-decoration: none;
		color: $purple;

		&::before {
			position: absolute;
			left: 0;
			font-family: 'icomoon' !important;
			content: "\f19a";
		}
	}

	&__item--cart {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 24px;
		padding-left: 24px;
		padding-right: 24px;
		margin-top: 27px;
		border-bottom: 1px solid #e8ebf0;
		border-top: none;
	}

	&__name--cart {
		text-align: left;
	}

	&__img--cart {
		max-width: 80px;
		max-height: 70px;
		margin-right: 15px;
	}

	&__link--cart {
		padding: 0;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		color: #000;
	}

	&__action--cart {
		text-align: center;
	}

	&__bin {
		display: block;
		position: relative;
		width: 32px;
		height: 32px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 10px;
		border-radius: 50%;
		background-color: #f0ebf8;
		border: none;

		&::before {
			position: absolute;
			top: 50%;
			right: 1px;
			transform: translate(-50%, -50%);
			content: "\e811";
			font-family: 'Linearicons-Free';
			color: #818c98;
			font-size: 15px;
			line-height: 28px;
		}
	}

	&__price {
		min-height: 30px;
		padding-left: 12px;
		padding-right: 12px;
		display: inline-block;
		background-color: #e6f1fd;
		border-radius: 30px;
		font-size: 16px;
		line-height: 30px;
		font-weight: 500;
		color: $blue;
	}

	&__total {
		text-align: right;
		font-size: 18px;
		line-height: 80px;
		font-weight: 500;
		color: #000;

		&--text {
			margin-right: 13px;
		}

		&--sign {
			margin-right: 24px;
		}

		&--price {
			margin-right: 24px;
		}
	}

	&__bottom-links {
		display: flex;
		justify-content: space-between;
	}

	&__bottom-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 60px;
		text-decoration: none;
		font-size: 15px;
		line-height: 30px;
		color: #fefefe;

		&:hover {
			background-color: #e6f1fd;
			color: #000;
			border: 1px solid #000;
		}

		&--gotocart {
			background-color: $purple;
			border-bottom-left-radius: 3px;
		}

		&--checkout {
			background-color: $blue;
			border-bottom-right-radius: 3px;
		}
	}
}

// CART MENU END

//---header end---


// marketplace start


.marketplace {

	&__bg {
		height: 725px;
		position: relative;
		background-color: #2b2b2b;
	}

	&__bg-img {
		height: 100%;
		background: linear-gradient(-90deg, rgba(0, 48, 222, 0.8) 0%, rgba(23, 69, 237, 0.8) 54%, rgba(46, 90, 251, 0.8) 100%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__inner {
		padding-top: 168px;
		padding-bottom: 155px;
	}

	&__title {
		margin: 0 auto 60px;
		max-width: 930px;
		text-align: center;
		color: #f3f3f8;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__phrase {
		display: block;
		font-size: 60px;
		line-height: 71px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__phrase--main {
		font-weight: 400;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		margin: 0;
		font-weight: 400;
	}

	&__phrase--secondary {
		font-weight: 700;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		margin: 0;
	}

	&__text {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 45px;
		font-weight: 500;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	}

	&__main-links {
		display: flex;
		text-align: center;
		justify-content: center;
	}

	&__main-link {
		display: inline-block;
		padding: 18px 34px;
		border-radius: 30px;
		font-size: 16px;
		text-decoration: none;
		box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
	}


	&__all-link {
		margin-left: auto;
		margin-right: 15px;
		background-color: $white;
		color: $blue;

		&:hover {
			background-color: $blue;
			color: $white;
		}
	}

	&__popular-link {
		margin-right: auto;
		margin-left: 15px;
		border: 1px solid $white;
		color: $white;

		&:hover {
			background-color: $white;
			color: $blue;
		}
	}

	&__search {
		position: absolute;
		bottom: -66px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		max-width: 1140px;
		min-height: 135px;
		background-color: $white;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		border-radius: 6px;

		&::after {
			z-index: 1;
			width: 100%;
			max-width: 1110px;
			height: 13px;
		}

		&::before {
			z-index: 2;
			width: 100%;
			max-width: 1080px;
			height: 26px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 135px;
			background-color: rgb(255, 255, 255);
			opacity: 0.502;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
	}

	&__form {
		width: 100%;
		display: flex;
		padding-left: 40px;
		padding-right: 40px;
		justify-content: space-around;
		align-items: center;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__label-select {
		display: flex;
		min-height: 55px;
		max-width: 195px;
		width: 100%;
		position: relative;
		margin-right: auto;
	}

	&__select {
		padding-left: 20px;
		padding-right: 63px;
		min-height: 55px;
		padding-left: 20px;
		border: 1px solid rgb(220, 220, 220);
		color: #555;
		// appearance: none;

		&::-ms-expand {
			display: none;
		}
	}


	&__label-text {
		font-size: 0;
		line-height: 0;
	}

	&__input {
		width: 100vw;
		max-width: 611px;
		min-height: 55px;
		padding-left: 28px;
		padding-right: 28px;
		border: 1px solid rgb(220, 220, 220);
		border-right: none;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;

		&::placeholder {
			color: #676767;
			font-size: 16px;
			line-height: 42px;
			font-weight: 400;
		}
	}

	&__btn {
		height: 55px;
		padding-left: 67px;
		padding-right: 67px;
		border: none;
		border-radius: 4px;
		background-color: rgb(6, 116, 236);
		color: $white;
		cursor: pointer;

		&:hover {
			background-color: #fff;
			color: $blue;
			border: 1px solid $blue;
		}
	}

	&__label-text {
		font-size: 0;
	}
}


// marketplace end
// info start

.info {

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 185px;
		padding-bottom: 119px;
	}

	&__item {
		position: relative;
		max-width: 361px;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
		min-height: 403px;

		&-title {
			margin-bottom: 20px;
			margin-top: 194px;
			font-size: 24px;
			font-weight: 400;
			color: #010101;
		}

		&:hover {
			box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		}

		&--research::after {
			background-image: url(../images/icons/research-icon.png);
		}

		&--responsive::after {
			background-image: url(../images/icons/responsive-icon.png);
		}

		&--buysell::after {
			background-image: url(../images/icons/buysell-icon.png);
		}

		&::after {
			content: '';
			width: 120px;
			height: 120px;
			position: absolute;
			top: 43px;
			left: 50%;
			transform: translateX(-50%);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&-text {
			padding-left: 20px;
			padding-right: 20px;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			color: #555;
		}
	}



}

// info end
// products-weekly start
.products-weekly {
	padding-top: 120px;
	background-color: #eff1f5;
}

// products-weekly end
// products-release start
.products-release {
	background-color: #f6f7fb;
	padding-top: 124px;
	padding-bottom: 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__title {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 22px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 27px;
	}

	&__filter {
		min-height: 110px;
		margin-left: 20px;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:hover {
			.filter-menu {
				height: auto;
				overflow: visible;
				padding: 21px 28px;
				text-align-last: left;
			}
		}
	}

	&__category {
		min-height: 93px;
		margin-bottom: 48px;
		padding: 18px 0px 0px 30px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	}

	&__filter-text {
		display: inline-block;
		vertical-align: top;
		margin-right: 23px;
		font-size: 16px;
		line-height: 32px;
		color: #747b86;
		font-weight: 400;
	}

	.filter-menu {
		height: 0;
		overflow: hidden;
		min-width: 183px;
		position: absolute;
		right: 7px;
		top: 89px;
		z-index: 3;
		margin: 0;
		padding: 0;
		padding: 0px 28px;
		list-style: none;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		transition: all .4s;

		&::after {
			content: '';
			position: absolute;
			top: -12px;
			right: 15px;
			z-index: 2;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 16px 8px;
			border-color: transparent transparent #fff transparent;
			box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
		}

		&__link {
			font-size: 15px;
			line-height: 28px;
			color: #747b86;
			font-weight: 400;
			text-decoration: none;

			&:hover {
				color: $blue;
			}
		}
	}

	&__wrapper {
		text-align: center;
	}

	&__main-link {
		min-width: unset;
		padding-left: 33px;
		padding-right: 33px;
		margin: 0 auto;
		background-color: $blue;
		color: #fff;
		font-size: 16px;

		&:hover {
			background-color: #fff;
			border: 1px solid $blue;
			color: $blue;
		}
	}
}

.product-card--small {
	flex-direction: column;
	margin-bottom: 30px;
	border-radius: unset;
	max-width: 361px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

	.product-card__image--products-release {
		min-height: 230px;
	}

	.product-card__user-icon {
		margin-right: unset;
	}

	.product-card__image {
		border-radius: unset;
		height: 230px;
		box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	}

	.product-card__template-img {
		border-radius: unset;
	}

	.product-card__links {
		border-radius: unset;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	.product-card__imagelink {
		&--moreinfo {
			left: 10%;
		}

		&--livedemo {
			right: 10%;
		}
	}

	.product-card__user-info {
		overflow: 0;
		padding: 10px;
		padding-bottom: 0;
	}

	.product-card__user-name {
		padding-left: 20px;
		padding-top: 2px;
		margin-bottom: 25px;
	}

	.product-card__title-link {
		margin-bottom: 16px;
		padding: 14px 10px 0px 19px;
		font-size: 20px;
		color: #000;
		font-weight: 400;
	}

	.product-card__link {
		margin-right: 16px;
		font-size: 15px;
		line-height: 30px;
		color: #000;
		text-decoration: none;
	}

	.product-card__platform {
		&--uppercase {
			text-transform: uppercase;
		}
	}

	.product-card__specs {
		padding: 17px 13px 14px 20px;
	}

	.product-card__price {
		font-size: 15px;
		line-height: 30px;
		margin-right: 0;
	}

	.product-card__likes {
		margin-right: 0;
		margin-left: 10px;
		font-size: 15px;
		line-height: 30px;
		color: #6f7d8d;

		&::before {
			font-size: 15px;
			line-height: 30px;
			color: $purple;

			&:hover {
				background-color: $purple;
			}
		}
	}

	.product-card__descr {
		height: 92px;
		margin-bottom: 24px;
		padding-left: 20px;
		padding-right: 15px;

	}

	.product-card__data {
		width: unset;
	}

	.product-card__purchases {
		margin-right: unset;
		margin-left: auto;
	}
}

@media (hover),
(min-width:0\0),
(min--moz-device-pixel-ratio:0) {
	.products-release__filter:hover {
		.filter-menu {
			height: auto;
			overflow: visible;
			padding: 21px 28px;
			text-align-last: left;
		}
	}
}

// products-release end

// followers-feed start

.followers-feed {
	padding-top: 122px;
	background-color: #eff1f5;
	padding-bottom: 87px;

	.product-card--followers {
		margin-right: calc((1140px - (361px*3))/2);
	}
}

// followers-feed end



// stats start

.stats {
	.container-fluid {
		background-color: #212225;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 182px;
		padding-bottom: 86px;
	}

	&__img {
		font-size: 0;
	}

	&__img::before {
		position: absolute;
		top: -84px;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Linearicons-Free';
		font-size: 48px;
		line-height: 36px;
		font-weight: 500;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}


	&__item {
		position: relative;
		max-width: 25%;
		text-align: center;

		&--yellow {
			.stats__img::before {
				content: "\e84c";
				color: #feb71d;
			}

			.stats__amount {
				color: #feb71d;
			}
		}

		&--blue {
			.stats__img::before {
				content: "\e80b";
				color: #58c9e9;
			}

			.stats__amount {
				color: #58c9e9;
			}
		}

		&--green {
			.stats__img::before {
				content: "\e854";
				color: #77de51;
			}

			.stats__amount {
				color: #77de51;
			}
		}

		&--red {
			.stats__img::before {
				content: "\e82b";
				color: #ff6a6d;
			}

			.stats__amount {
				color: #ff6a6d;
			}
		}
	}



	&__text {
		font-size: 18px;
		line-height: 36px;
		color: $white;
		font-weight: 400;
	}

	&__amount {
		margin-bottom: 10px;
		font-size: 36px;
		line-height: 36px;
		font-weight: 400;
	}


}

// stats end

// profit start

.profit {

	&__inner {
		max-width: 751px;
		width: 100%;
		margin: 0 auto;
		padding-top: 110px;
		padding-bottom: 54px;
		text-align: center;
	}

	&__title {
		margin: 0;
		margin-bottom: 28px;
		font-size: 36px;
		line-height: 38px;
		color: #000;
		font-weight: 400;
	}

	&__martplace-link {
		display: inline;
		margin: 0;
		color: $blue;
		text-decoration: none;
		font-size: 36px;
		line-height: 38px;
		font-weight: 400;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 90px;
		text-align: center;
	}

	&__payment {
		max-width: 361px;
		display: block;
		position: relative;
		min-height: 373px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		text-decoration: none;
	}

	&__number {
		position: absolute;
		top: 9px;
		left: 19px;
		font-size: 48px;
		color: rgba(92, 135, 248, 0.2);
	}

	&__item-title {
		margin: 0;
		margin-bottom: 20px;
		margin-top: 151px;
		font-size: 24px;
		font-weight: 400;
		color: #010101;
	}


	&__icon {
		font-size: 0;

		font-family: 'Linearicons-Free';

		&::before {
			position: absolute;
			left: 50%;
			top: 50px;
			transform: translateX(-50%);
			font-family: 'Linearicons-Free';
			font-size: 60px;
			font-weight: 400;
		}

		&--payment::before {
			content: "\e822";
			color: $blue;
		}

		&--quality::before {
			content: "\e803";
			color: #7f4ec2;
		}

		&--secure::before {
			content: "\e80f";
			color: #77de51;
		}

		&--code::before {
			content: "\e843";
			color: #feb71d;
		}

		&--update::before {
			content: "\e849";
			color: #58c9e9;
		}

		&--support::before {
			content: "\e831";
			color: #ff6a6d;
		}
	}

	&__text {
		margin: 0;
		padding-left: 30px;
		padding-right: 30px;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}

}

// profit end

// assignment start

.assignment {

	&__inner {
		display: flex;
	}

	&__item {
		width: 50%;
		padding-bottom: 102px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;


	}

	&__icon {
		margin: 0 auto;
		padding-top: 100px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;

		&--selling {
			padding-right: 147px;
		}

		&--shopping {
			padding-left: 165px;
		}
	}

	&__icon-text {
		font-size: 0;
	}

	&__title,
	&__text {
		margin: 0;
		font-size: 36px;
		line-height: 30px;
		font-weight: 400;
		color: #fff;
	}

	&__title {
		margin-bottom: 24px;
		margin-top: 45px;

		&--selling {
			padding-right: 145px;
		}

		&--shopping {
			padding-left: 151px;
		}
	}

	&__text {
		max-width: 600px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 43px;
		font-size: 16px;
		line-height: 30px;

		&--selling {
			margin-left: 35px;
		}

		&--shopping {
			margin-left: 182px;
		}
	}

	&__main-link {
		background-color: #fff;
		display: inline-block;

		&:hover {
			color: #fff;
			border: 1px solid #fff;
		}

		&--author {
			margin-right: 145px;
			color: $blue;
		}

		&--author:hover {
			background-color: $blue;
		}

		&--shopping {
			margin-left: 150px;
			color: $purple;
		}

		&--shopping:hover {
			background-color: $purple;
		}
	}
}

// assignment end

// feedback start


.feedback {
	padding-top: 120px;
	padding-bottom: 120px;

	&__inner {
		max-width: 690px;
		margin: 0 auto;
		text-align: center;
	}

	&__items {
		display: inline-block;
		margin-bottom: 63px;
	}

	&__item {
		display: inline-block;
		width: 100%;
		max-width: 550px;
		height: auto;
		padding: 40px 35px;
		border-left: 2px solid $blue;

		&:first-child {
			margin-right: 30px;
		}
	}

	&__link-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 27px;
	}

	&__bottom-link-wrapper {
		text-align: center;
	}

	&__img {
		max-width: 81px;
		height: 81px;
		margin-right: 19px;
		border-radius: 50%;
	}

	&__user-info {
		display: inline-block;
	}

	&__user-name {
		display: block;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 400;
		color: #000;
		text-decoration: none;

		&::before {
			position: absolute;
			right: 0;
			top: -13px;
			font-family: 'Linearicons-Free';
			content: "\e83f";
			font-size: 60px;
			color: #e8e8e8;
		}
	}

	&__user-occupation,
	&__description {
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #555;
	}

	&__description {
		margin: 0;
		display: block;
		height: 120px;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0px;
			background: transparent;
		}
	}

	&__main-link {
		background-color: $blue;
		color: #fff;

		&:hover {
			background-color: #fff;
			border: 1px solid $blue;
			color: $blue;
		}
	}


}

.title-double {
	margin-bottom: 30px;
	font-size: 36px;
	line-height: 28px;
	color: #000;
	font-weight: 400;

	&__link {
		text-align: center;
		color: $blue;
		text-decoration: none;
	}

	&__text {
		margin-bottom: 55px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
		font-weight: 400;
	}
}

// feedback end

// news start

.news {
	background-color: #eff1f5;
	text-align: center;
	padding-bottom: 90px;

	.title-double--news {
		margin-bottom: 27px;
	}

	&__inner {
		max-width: 751px;
		width: 100%;
		margin: 0 auto;
		padding-top: 113px;
		text-align: center;
	}

	&__template-img {
		@extend %mainpic;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.product-card--news {
		min-height: 475px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.product-card__image--news {
		background-color: #7385cd;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&__card-title {
		text-align-last: left;
		font-weight: 500;
	}

	.product-card__title-link--news {
		height: 40px;
		font-weight: 500;
		overflow-y: scroll;
	}

	.title-double__text--news {
		margin-bottom: 53px;
	}

	.product-card__descr--news {
		margin-bottom: 28px;
	}

	&__specs {
		position: relative;
		min-height: 59px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 43px;
		padding-right: 18px;
		background-color: #fff;
		border-top: 1px solid #ececec;

		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 40px;
			left: 50%;
			transform: translateX(-50%);
			top: 11px;
			background-color: #ececec;
		}
	}

	&__time {
		position: relative;
		font-size: 15px;
		line-height: 30px;
		color: #999;
		font-weight: 400;

		&::before {
			content: "\e864";
			color: $blue;
		}
	}

	&__btn {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		@extend %btn;
		position: relative;
		padding: 0;
		background-color: transparent;
		position: relative;
		font-size: 15px;
		line-height: 30px;
		color: #7e7e7e;
		font-weight: 400;
		text-decoration: none;

		&--comments {
			margin-left: auto;
			margin-right: 56px;
		}

		&--comments::before {
			content: "\e83f";
		}

		&--views::before {
			content: "\e81b";
		}
	}

	&__link::before,
	&__time::before {
		position: absolute;
		left: -23px;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Linearicons-Free';
	}

}

// news end

// warranty start
.warranty {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1px;
		height: 100%;
		background-color: #eff1f5;
	}

	&__inner {
		min-height: 295px;
		position: relative;

		&--guarantee {
			right: 57%;
		}

		&--support {
			left: 56%;
		}
	}

	&__item {
		position: absolute;
		top: 7px;
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 0 auto;
		text-align: center;
	}



	&__icon {
		max-width: 220px;
		max-height: 150px;
		margin-bottom: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&--guarantee {
			margin-bottom: 25px;
			padding-right: 15px;
		}

		&--support {
			padding-left: 35px;
			padding-top: 4px;
			margin-bottom: 25px;
		}
	}

	&__text {
		font-size: 24px;
		color: #000;

		&--guarantee {
			padding-right: 15px;
		}

		&--support {
			padding-left: 36px;
		}
	}

	&__word {
		text-decoration: none;
	}

	&__word--guarantee {
		color: $blue;
	}

	&__word--support {
		color: $purple;
	}

}

// warranty end
// join start
.join {
	padding-top: 98px;
	padding-bottom: 110px;
	text-align: center;
	background-image: linear-gradient(-90deg, rgba(13, 62, 242, .902) 0%, rgba(64, 48, 201, .902) 46%, rgba(114, 33, 160, .902) 100%);


	&__title {
		font-size: 36px;
		color: #fff;
		margin-bottom: 23px;
	}

	&__text {
		font-size: 18px;
		color: #e7e7e7;
		margin-bottom: 56px;
	}

	&__main-link {
		display: inline-block;
		color: $blue;
		background-color: #fff;

		&:hover {
			background-color: $blue;
			border: 1px solid #fff;
			color: #fff;
		}
	}


}

.footer {
	.container-fluid {
		background-color: #212225;
	}

	&__content {
		min-height: 525px;
		padding-top: 112px;
		padding-bottom: 115px;
	}

	&__col {
		display: inline-block;
		vertical-align: top;

		&--info {
			max-width: 264px;
			width: 100%;
			margin-right: 68px;
		}

		&--list {
			padding: 0;
			margin-right: 123px;
			max-width: 196px;
		}

		&--list-support {
			margin-right: 56px;
		}

		&--newsletter {
			max-width: 360px;
		}
	}

	&__list {
		padding: 0;
	}

	&__logo {
		margin-bottom: 21px;
	}

	&__text {
		margin-bottom: 17px;
		font-size: 15px;
		line-height: 28px;
		color: #ababab;

		&--newsletter {
			margin-bottom: 9px;
		}
	}

	&__contact-box {
		display: flex;
		flex-direction: column;
	}

	&__contact {
		position: relative;
		flex-grow: 0;
		margin-left: 29px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 26px;
		color: #ababab;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #fff;
		}

		&::before {
			position: absolute;
			left: -29px;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'Linearicons-Free';
			font-size: 16px;
			line-height: 28px;
			color: #ababab;
		}

		&:hover::before {
			color: #fff;
		}

		&--phone::before {
			content: "\e830";
		}

		&--email::before {
			content: "\e818";
		}

		&--adress::before {
			content: "\e833";
		}
	}

	&__col-title {
		margin-bottom: 18px;
		font-size: 18px;
		line-height: 42px;
		color: #fff;

		&--company {
			padding-top: 5px;
			padding-left: 3px;

		}

		&--support {
			padding-top: 4px;
		}

		&--newsletter {
			padding-top: 5px;
			margin-bottom: 23px;
		}
	}

	&__list-item {
		list-style: none;
	}

	&__link {
		font-size: 15px;
		line-height: 32px;
		color: #ababab;
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			border-bottom: 1px solid #fff;
		}
	}



	&__label-text {
		font-size: 0;
	}

	&__form {
		position: relative;
		margin-bottom: 28px;
	}

	&__input {
		max-width: 100%;
		width: 100%;
		min-height: 50px;
		padding-left: 30px;
		padding-right: 120px;
		font-size: 100;
		background-color: #fff;
		border-radius: 30px;

		&::placeholder {
			font-size: 15px;
			line-height: 28px;
			color: #ababab;
		}
	}



	&__btn {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		max-width: 110px;
		width: 100%;
		min-height: 50px;
		background-color: $blue;
		font-size: 15px;
		line-height: 42px;
		color: #fff;
		border: none;
		border-radius: 30px;

		&:hover {
			background-color: #fff;
			border: 5px solid $blue;
			color: $blue;
			font-weight: 700;
		}
	}

	&__copy-content {
		height: 94px;
		padding-top: 22px;
		padding-bottom: 40px;
		background-color: #192027;
		text-align: center;
	}

	&__copy-text {
		font-size: 15px;
		line-height: 27px;
		color: #999;
	}

	&__copy-link {
		color: #fff;
		text-decoration: none;
	}
}


// CATEGORY PAGE START

.search {
	background-color: #6c6c6c;
	text-align: center;

	.container-fluid {
		padding-top: 62px;
		padding-bottom: 29px;
		height: auto;
		background:
			linear-gradient(-90deg, rgba(13, 62, 242, .9) 0%, rgba(45, 47, 199, .9) 46%, rgba(76, 31, 156, .9) 100%);
	}

	&__title {
		margin: 0;
		margin-bottom: 11px;
		font-size: 26px;
		line-height: 70px;
		color: #f3f3f8;
	}
}

.hidden {
	display: none;
}

.category-page {
	background-color: #eff1f5;

	&__inner {
		display: flex;
	}

	.aside {
		margin-right: 30px;
		max-width: 262px;
		width: 100%;

		&__item {
			margin-bottom: 29px;
			padding: 0px 29px 29px;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
		}

		&__title {
			position: relative;
			min-height: 70px;
			max-width: 200px;
			margin: 0;
			margin-bottom: 21px;
			padding: 25px 0px;
			width: 100%;
			font-size: 20px;
			font-weight: 400;
			color: #010101;
			border-bottom: 1px solid #e7ebee;
			cursor: pointer;

			&--filter {
				margin-bottom: 16px;
			}

			&--range {
				margin: 0;
				padding-bottom: 0;
			}

			&::after {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				font-family: 'Linearicons-Free';
				content: "\e874";
				font-size: 12px;
				color: #555;
			}

			&.hidden {
				&::after {
					content: "\e873";
				}
			}
		}
	}

	.aside-box {

		&__list {
			margin: 0;
			padding: 0;

			&.hidden {
				display: none;
			}
		}

		&__item {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding: 0;
			margin: 0;
			padding-left: 19px;
			list-style: none;

			&--blue {
				.aside-box__link {
					color: $blue;
				}
			}

			&::before {
				position: absolute;
				left: 0;
				font-family: 'Linearicons-Free';
				content: "\e876";
				font-size: 10px;
				line-height: 36px;
				color: #747b86;
			}

			&--circle {
				padding-left: 21px;

				&::before {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					content: '';
					width: 10px;
					height: 10px;
					background-color: #fff;
					border-radius: 50%;
					border: 1px solid #747b86;
					;
				}
			}
		}

		&__number {
			font-size: 15px;
			line-height: 36px;
			color: #747b86;
		}

		&__link {
			text-decoration: none;
			font-size: 15px;
			line-height: 36px;
			color: #555;

			&:hover {
				color: $blue;
			}
		}
	}
}

.form-range {
	text-align: center;

	&__text {
		font-size: 0;
		line-height: 0;
	}

	&__btn {
		min-height: 44px;
		padding: 0px 32px;
		margin: 74px auto 0;
		background-color: $blue;
		border-radius: 30px;
		line-height: 44px;
		font-size: 15px;
		font-weight: 500;
		color: #fff;
		border: none;
		cursor: pointer;
	}
}

.irs-from,
.irs-single,
.irs-to {
	top: 52px;
}

.irs--flat .irs-line {
	top: 25px;
	height: 6px;
	background-color: #efedf3;
	border-radius: 2px;
}

.irs--flat .irs-handle>i:first-child {
	display: none;
}

.irs--flat .irs-bar {
	top: 25px;
	height: 6px;
	background-color: $purple;
}

.irs--flat .irs-handle {
	top: 19px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fff;
	border: 5px solid $blue;
	cursor: pointer;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
	display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	color: $purple;
	font-size: 15px;
	line-height: 32px;
	text-shadow: none;
	padding-left: 23px;
	padding-right: 23px;
	background-color: #f1ecf9;
	border-radius: 30px;
}

.category-page__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}



// CATEGORY PAGE END

@import '_media';