@import '../scss/fonts';
@import '../scss/vars';
@import '../scss/global';

//header start

.header {

	&__top {
		background-color: #eef1f3;
		align-items: center;
		height: 100px;
	}

	&__top-inner {
		padding-top: 25px;
		padding-bottom: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-left: 7px;
	}


	&__link {
		margin-left: auto;
		margin-right: 51px;
		text-align: center;
	}

	&__join-link {
		height: 36px;
		min-width: 140px;
		padding: 10px 18px;
		margin-right: auto;
		background-color: $blue;
		color: $white;
		font-weight: 400;
		font-size: 14px;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
	}

	&__user-menu {
		display: flex;
		justify-content: space-between;
	}

	&__user-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 46px;
	}

	&__notific-icon::before {
		content: '\e858';
	}

	&__message-icon::before {
		content: '\e818';
	}

	&__cart-icon::before {
		content: '\e82e';
	}


	&__link-item {
		font-size: 0;
	}

	&__user-info {
		max-width: 180px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 175px;
		width: 100%;
	}

	&__link-icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		text-decoration: none;
		margin: auto;
		font-family: 'Linearicons-Free';
		color: #7e8fa1;
		font-size: 20px;
	}

	&__notif-amount,
	&__cart-amount,
	&__message-amount {
		position: absolute;
		top: -14px;
		right: -16px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-width: 22px;
		max-height: 22px;
		padding: 6px;
		border-radius: 30px;
		font-size: 14px;
		line-height: 14px;
		color: $white;
	}

	&__notif-amount {
		background-color: #ff6a6c;
	}

	&__message-amount {
		background-color: #62d03b;
	}

	&__cart-amount {
		background-color: $blue;
	}



	&__link-icon+&__link-icon {
		margin-left: 32px;
	}

	&__user-box {
		max-width: 130px;
	}

	&__user-name {
		width: 100%;
		font-size: 16px;
		line-height: 22px;
		color: #333;
		font-weight: 500;
		text-decoration: none;
	}

	&__user-icon {
		display: block;
		max-width: 50px;
		width: 100%;
		height: 50px;
		margin-right: 22px;
		border-radius: 50%;
		background-color: #7c7979;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&__user-wallet {
		font-size: 15px;
		line-height: 22px;
		color: $blue;
		font-weight: 400;
		text-decoration: none;
	}

	&__ground {
		height: 80px;
		display: flex;
		align-items: center;
	}

	&__ground-inner {
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin-bottom: 17px;
		margin-top: 17px;
	}

	&__menu-list {
		padding: 0;
	}

	&__menu-item {
		display: inline-block;
		list-style: none;
		text-transform: uppercase;
	}

	&__menu-item+&__menu-item {
		margin-left: 30px;
	}

	&__menu-link {
		font-weight: 500;
		font-size: 15px;
		line-height: 42px;
		color: #333;
		text-decoration: none;
	}

	&__search {
		display: flex;
		align-items: center;
	}

	&__search-form {
		width: 360px;
		margin-left: auto;
		position: relative;
	}

	&__search-product {
		height: 46px;
		width: 100%;
		border: 1px solid rgb(217, 223, 229);
		padding-left: 23px;
		padding-right: 74px;
		border-radius: 30px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #898f96;
		outline: transparent;
	}

	&__search-product::placeholder {
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #898f96;
	}

	&__search-btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 46px;
		background-color: $blue;
		border: 1px solid transparent;
		border-radius: 30px;
		outline: transparent;
	}

	&__search-icon {
		color: $white;
	}

}

//header end
// marketplace start

.marketplace {
	position: relative;
	min-height: 723px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__inner {
		padding-top: 168px;
		padding-bottom: 155px;
	}

	&__title {
		margin: 0 auto 60px;
		max-width: 930px;
		text-align: center;
		color: #f3f3f8;
	}

	&__title-phrase {
		display: block;
		font-size: 60px;
		line-height: 71px;
	}

	&__title--mainphrase {
		font-weight: 400;
	}

	&__title--secondaryphrase {
		font-weight: 700;
	}

	&__title-text {
		font-size: 20px;
		line-height: 45px;
		font-weight: 500;
	}

	&__title-buttons {
		display: flex;
		text-align: center;
		justify-content: center;
	}

	&__all-link {
		margin-left: auto;
		margin-right: 15px;
		background-color: $white;
		color: $blue;
	}

	&__popular-link {
		margin-right: auto;
		margin-left: 15px;
		border: 1px solid $white;
		color: $white;
	}

	&__search {
		position: absolute;
		bottom: -66px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		flex-direction: row;
		width: 1140px;
		min-height: 135px;
		background-color: $white;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
		border-radius: 6px;
	}

	&__decor {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgb(255, 255, 255);
		opacity: 0.502;
		border-radius: 6px;
	}

	&__decor--middle {
		z-index: 1;
		bottom: -48px;
		width: 1110px;
		height: 135px;
	}

	&__decor--bottom {
		z-index: 2;
		bottom: -31px;
		width: 1080px;
		height: 135px;
	}

	&__search-form {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__search-input {
		width: 611px;
		min-height: 55px;
		padding-left: 28px;
		padding-right: 28px;
		border: 1px solid rgb(220, 220, 220);
		border-right: none;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&__search-input::placeholder {
		color: #676767;
		font-size: 16px;
		line-height: 42px;
		font-weight: 400;
	}

	&__search-filter {
		position: relative;
		display: flex;
		align-items: center;
		margin-right: auto;
		min-height: 55px;
		padding-left: 20px;
		padding-right: 72px;
		border: 1px solid rgb(220, 220, 220);
		color: #555;
	}

	&__search-filter::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 21px;
		width: 13px;
		height: 8px;
		background-image: url(../images/icons/chevron-down.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__search-btn {
		width: 223px;
		height: 55px;
		border: none;
		border-radius: 4px;
		background-color: rgb(6, 116, 236);
		color: $white;
	}

}

// marketplace end
// info start

.info {

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 185px;
		padding-bottom: 119px;
	}

	&__item-research,
	&__item-responsive,
	&__item-buysell {
		min-height: 403px;
		padding: 205px 34px 20px;
	}

	&__item-research::after {
		background-image: url(../images/icons/research-icon.png);
	}

	&__item-responsive::after {
		background-image: url(../images/icons/responsive-icon.png);
	}

	&__item-buysell::after {
		background-image: url(../images/icons/buysell-icon.png);
	}

	&__item-research::after,
	&__item-responsive::after,
	&__item-buysell::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: 38px;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

}

// info end

.products-weekly {
	padding-top: 120px;
	background-color: #eff1f5;
}

// products start

.products {

	&__title {
		min-height: 110px;
		margin-bottom: 52px;
		text-align: left;
	}


	&__release-title {
		min-height: 110px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 32px;
		padding-right: 0;
		min-width: 110px;
	}

	&__release-title:hover::after {
		cursor: pointer;
	}

	&__release-filter {
		position: relative;
		padding-right: 28px;
		margin-right: 30px;
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
		color: #747b86;
		cursor: pointer;
	}

	&__release-filter::after {
		content: '';
		background-image: url(../images/icons/filterby-icon.svg);
		width: 5px;
		height: 20px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__release-filter-link {
		text-decoration: none;
	}
}

// products end
// template start

.template {
	display: flex !important;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 120px;
	min-height: 451px;
	border-radius: 3px;

	&__image {
		max-width: 555px;
		width: 100%;
		font-size: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__template-img {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__links:hover {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__imagelink-moreinfo {
		left: 135px;
	}

	&__imagelink-livedemo {
		right: 149px;
	}

	&__user-info {
		max-width: 586px;
		width: 100%;
		padding: 47px 51px 26px 51px;
		background-color: $white;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&__title {
		margin-bottom: 13px;
		align-items: center;
	}

	&__title-link {
		display: block;
		padding: 0;
		font-size: 24px;
		font-weight: 500;
		color: #000;
		text-decoration: none;
	}

	&__user-link {
		font-weight: 400;
		font-size: 15px;
		line-height: 30px;
		color: #000;
	}

	&__user-name {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 26px;
	}

	&__user-icon {
		min-width: 30px;
		height: 30px;
		margin-right: 9px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $purple;
	}

	&__user-name-link {
		max-width: 250px;
		display: flex;
		align-items: center;
		margin-right: 43px;
		text-decoration: none;
		color: #000;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
	}

	&__platform {
		position: relative;
		display: block;
		text-decoration: none;
		font-weight: 15px;
		line-height: 30px;
		font-weight: 400;
	}

	&__platform-icon {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 50%;
		left: -18px;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		font-size: 0;
	}

	&__descr {
		margin-bottom: 32px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
		font-weight: 400;
	}

	&__category {
		margin-bottom: 21px;
		padding-bottom: 45px;
		border-bottom: 1px solid #ececec;
	}


	&__category-btn {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 400;
		color: #868c96;
		text-decoration: none;
	}

	&__specs {
		display: flex;
		justify-content: space-between;
	}

	&__data {
		width: 100%;
		max-width: 270px;
		display: flex;
		justify-content: flex-start;
	}

	&__price {
		margin-right: 19px;
		padding-left: 18px;
		padding-right: 18px;
		color: $white;
		background-color: $blue;
	}

	&__likes {
		padding-left: 26px;
		margin-right: 13px;
		position: relative;
		color: #555;
	}

	&__purchases {
		margin-right: auto;
		padding-left: 23px;
		position: relative;
		color: $blue;
	}

	&__purchases::before,
	&__likes::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__likes::before {
		width: 16px;
		height: 14px;
		left: 0;
		background-image: url(../images/icons/template-like-icon.svg);
	}

	&__purchases::before {
		width: 14px;
		height: 13px;
		left: 0;
		background-image: url(../images/icons/cart-icon.svg);
	}

	&__arrow-left {
		right: 85px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__arrow-right {
		right: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

	&__rate-star {
		display: flex;
		align-items: center;
	}

}

// template end
// products-release start

.products-release {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #f6f7fb;

	&__category {
		min-height: 92px;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 47px;
		padding-left: 30px;
		padding-right: 30px;
	}

	&__category-btn {
		margin-right: 9px;
		margin-bottom: 9px;
		padding-left: 20px;
		padding-right: 20px;
		outline: transparent;
	}


	&__hashtag-link:hover {
		color: $white;
	}

	&__link {
		text-align: center;
	}

	&__bottom-link {
		display: inline-block;
		background-color: $blue;
		text-align: center;
		border-radius: 30px;
		font-size: 16px;
		color: $white;
	}

}

// products-release end
// release-template start

.release-template {
	margin-bottom: 26px;
	text-align: center;

}

// release-template end
// followers-feed start

.followers-feed {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #eff1f5;

	&__title {
		position: relative;
		height: 110px;
		margin-bottom: 51px;
	}

	&__item {
		margin-right: 27px;
	}

	&__arrow-left,
	&__arrow-right {
		background-color: $blue;
		top: -130px;
	}

	&__arrow-left {
		right: 85px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
	}

	&__arrow-right {
		right: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}

}

// stats start

.stats {

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 151px;
		padding-bottom: 96px;
	}

	&__itemsforsale-img::before,
	&__totalsale-img::before,
	&__customers-img::before,
	&__members-img::before {
		position: absolute;
		top: -94px;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'Linearicons-Free';
		font-size: 48px;
		line-height: 36px;
		font-weight: 500;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__itemsforsale-img::before {
		content: "\e84c";
		color: #feb71d;
	}

	&__totalsale-img::before {
		content: "\e80b";
		color: #58c9e9;
	}

	&__customers-img::before {
		content: "\e854";
		color: #77de51;
	}

	&__members-img::before {
		content: "\e82b";
		color: #ff6a6d;
	}

	&__itemsforsale-amount {
		color: #feb71d;
	}

	&__totalsale-amount {
		color: #58c9e9;
	}

	&__customers-amount {
		color: #77de51;
	}

	&__members-amount {
		color: #ff6a6d;
	}

}

// stats end

// profit start

.profit {

	&__inner {
		max-width: 751px;
		width: 100%;
		margin: 0 auto;
		padding-top: 110px;
		padding-bottom: 54px;
		text-align: center;
	}

	&__title {
		margin-bottom: 28px;
		font-size: 36px;
		line-height: 38px;
		color: #000;
		font-weight: 400;
	}

	&__martplace-link {
		color: $blue;
		text-decoration: none;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 90px;
	}

	&__payment-item {
		position: relative;
		min-height: 373px;
		margin-bottom: 30px;
		padding: 160px 34px 20px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
	}

	&__item-number {
		position: absolute;
		top: 9px;
		left: 19px;
		font-size: 48px;
		color: rgba(92, 135, 248, 0.2);
	}

	&__item-icon {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		font-size: 0;
	}

	&__item-icon-payment::before,
	&__item-icon-quality::before,
	&__item-icon-secure::before,
	&__item-icon-code::before,
	&__item-icon-update::before,
	&__item-icon-support::before {
		position: absolute;
		left: 50%;
		top: 50px;
		transform: translateX(-50%);
		font-family: 'Linearicons-Free';
		font-size: 60px;
		font-weight: 400;
	}

	&__item-icon-payment::before {
		content: "\e822";
		color: $blue;
	}

	&__item-icon-quality::before {
		content: "\e803";
		color: #7f4ec2;
	}

	&__item-icon-secure::before {
		content: "\e80f";
		color: #77de51;
	}

	&__item-icon-code::before {
		content: "\e843";
		color: #feb71d;
	}

	&__item-icon-update::before {
		content: "\e849";
		color: #58c9e9;
	}

	&__item-icon-support::before {
		content: "\e831";
		color: #ff6a6d;
	}

}

// profit end

// assignment start

.assignment {

	&__inner {
		display: flex;
		align-items: center;
	}

	&__item {
		max-width: 50%;
		width: 50%;
		min-height: 561px;
		padding: 90px 181px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}

	&__icon {
		max-width: 120px;
		min-height: 120px;
		margin: 0 auto;
		margin-bottom: 40px;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		font-size: 0;
	}

	&__title,
	&__text {
		font-size: 36px;
		line-height: 30px;
		font-weight: 400;
		color: #fff;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 16px;
		font-size: 16px;
	}

	&__link {
		padding: 17px 26px;
		background-color: #fff;
		border-radius: 30px;
		font-size: 16px;
		color: $blue;
		font-weight: 400;
	}

	&__link {
		color: #7347c1;
	}

}

// assignment end

// feedback start


.feedback {
	padding-top: 120px;
	padding-bottom: 120px;

	&__inner {
		max-width: 690px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		margin-bottom: 30px;
		font-size: 36px;
		line-height: 28px;
		color: #000;
		font-weight: 400;
	}

	&__link {
		color: $blue;
		text-decoration: none;
	}

	&__text {
		margin-bottom: 55px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
		font-weight: 400;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 57px;
	}

	&__item {
		min-height: 315px;
		max-width: 555px;
		padding: 45px 40px;
		border-left: 1px solid $blue;
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}

	&__profile-link {
		text-decoration: none;
	}

	&__link-wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 27px;
	}

	&__link-wrapper::before {
		position: absolute;
		right: 0;
		top: -13px;
		font-family: 'Linearicons-Free';
		content: "\e83f";
		font-size: 60px;
		color: #e8e8e8;
	}

	&__profile-image {
		display: flex;
		align-items: center;
		max-width: 80px;
		height: 80px;
		margin-right: 19px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		font-size: 0;
	}

	&__img {
		max-width: 100%;
		height: 100%;
	}

	&__user-info {
		margin-right: auto;
	}

	&__user-name {
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 400;
		color: #000;
	}

	&__user-occupation,
	&__description {
		font-size: 16px;
		font-weight: 400;
		color: #555;
	}

	&__link {
		text-align: center;
	}

	&__viewall-link {
		background-color: $blue;
		color: #fff;
	}


}

// feedback end